In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
from tqdm import tqdm
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time
import random
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/dataver4/__results__.html
/kaggle/input/dataver4/__huggingface_repos__.json
/kaggle/input/dataver4/dataver4.h5
/kaggle/input/dataver4/__notebook__.ipynb
/kaggle/input/dataver4/__output__.json
/kaggle/input/dataver4/custom.css
/kaggle/input/dataset-version-3/dataver3.h5
/kaggle/input/dataver2-train-test/__results__.html
/kaggle/input/dataver2-train-test/data_ver2.h5
/kaggle/input/dataver2-train-test/__notebook__.ipynb
/kaggle/input/dataver2-train-test/__output__.json
/kaggle/input/dataver2-train-test/custom.css
/kaggle/input/combine-dataset/__results__.html
/kaggle/input/combine-dataset/combine_data.h5
/kaggle/input/combine-dataset/__notebook__.ipynb
/kaggle/input/combine-dataset/__output__.json
/kaggle/input/combine-dataset/custom.css
/kaggle/input/preprocessing-course-json/course.json
/kaggle/input/preprocessing-course-json/__results__.html
/kaggle/input/preprocessing-course-json/__notebook__.ipynb
/kaggle/input/preprocessing-course-json/__output__.json
/kaggle/input/preprocessing-course-json/custom.css
/kaggle/input/dataver5/__results__.html
/kaggle/input/dataver5/__huggingface_repos__.json
/kaggle/input/dataver5/__notebook__.ipynb
/kaggle/input/dataver5/data_ver5.h5
/kaggle/input/dataver5/__output__.json
/kaggle/input/dataver5/custom.css
/kaggle/input/random-user/sample_user.csv
/kaggle/input/random-user/__results__.html
/kaggle/input/random-user/__notebook__.ipynb
/kaggle/input/random-user/__output__.json
/kaggle/input/random-user/custom.css
/kaggle/input/dataver3/dataver3.h5
/kaggle/input/dataver3/__results__.html
/kaggle/input/dataver3/__notebook__.ipynb
/kaggle/input/dataver3/__output__.json
/kaggle/input/dataver3/custom.css
/kaggle/input/preprocessing-user-json/user.csv
/kaggle/input/preprocessing-user-json/__results__.html
/kaggle/input/preprocessing-user-json/user-5-100.csv
/kaggle/input/preprocessing-user-json/__notebook__.ipynb
/kaggle/input/preprocessing-user-json/__output__.json
/kaggle/input/preprocessing-user-json/user-course.csv
/kaggle/input/preprocessing-user-json/custom.css

In [2]:
i=0
path=[
    "/kaggle/input/combine-dataset/combine_data.h5",
    "/kaggle/input/dataver2-train-test/data_ver2.h5",
    "/kaggle/input/dataver3/dataver3.h5",
    "/kaggle/input/dataver4/dataver4.h5",
    "/kaggle/input/dataver5/data_ver5.h5"
     ]

In [ ]:
!git clone https://github.com/Briandy23/CBF.git
%cd CBF
! pip install -r requirements.txt
! python setup.py develop install

Cloning into 'CBF'...
remote: Enumerating objects: 588, done.
remote: Counting objects: 100% (588/588), done.
remote: Compressing objects: 100% (229/229), done.
remote: Total 588 (delta 356), reused 584 (delta 352), pack-reused 0 (from 0)
Receiving objects: 100% (588/588), 11.91 MiB | 30.34 MiB/s, done.
Resolving deltas: 100% (356/356), done.
/kaggle/working/CBF
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 2)) (2.2.3)
Collecting unidecode (from -r requirements.txt (line 3))
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 4)) (3.2.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 5)) (1.2.2)
Requirement already satisfied: cachetools in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 6)) (5.5.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 7)) (1.4.2)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from nltk->-r requirements.txt (line 4)) (1.17.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->-r requirements.txt (line 5)) (1.13.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->-r requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy->-r requirements.txt (line 1)) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy->-r requirements.txt (line 1)) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy->-r requirements.txt (line 1)) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy->-r requirements.txt (line 1)) (2024.2.0)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.8/235.8 kB 6.8 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
/usr/local/lib/python3.10/dist-packages/setuptools/command/develop.py:41: EasyInstallDeprecationWarning: easy_install command is deprecated.
!!

        ********************************************************************************
        Please avoid running ``setup.py`` and ``easy_install``.
        Instead, use pypa/build, pypa/installer or other
        standards-based tools.

        See https://github.com/pypa/setuptools/issues/917 for details.
        ********************************************************************************

!!
  easy_install.initialize_options(self)
/usr/local/lib/python3.10/dist-packages/setuptools/_distutils/cmd.py:66: SetuptoolsDeprecationWarning: setup.py install is deprecated.
!!

        ********************************************************************************
        Please avoid running ``setup.py`` directly.
        Instead, use pypa/build, pypa/installer or other
        standards-based tools.

        See https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html for details.
        ********************************************************************************

!!
  self.initialize_options()
/usr/local/lib/python3.10/dist-packages/setuptools/_core_metadata.py:161: SetuptoolsDeprecationWarning: Invalid config.
!!

        ********************************************************************************
        newlines are not allowed in `summary` and will break in the future
        ********************************************************************************

!!
  write_field('Summary', single_line(summary))
/usr/local/lib/python3.10/dist-packages/setuptools/_distutils/cmd.py:66: EasyInstallDeprecationWarning: easy_install command is deprecated.
!!

        ********************************************************************************
        Please avoid running ``setup.py`` and ``easy_install``.
        Instead, use pypa/build, pypa/installer or other
        standards-based tools.

        See https://github.com/pypa/setuptools/issues/917 for details.
        ********************************************************************************

!!
  self.initialize_options()

In [4]:
import pandas as pd
from science_concierge import ScienceConcierge

In [5]:
sp_user = pd.read_csv("/kaggle/input/random-user/sample_user.csv")

In [6]:
combine_data = pd.read_hdf(path[i], key='df')
combine_data

,user_id,course_id,enroll_time,course_name,course_prerequisites,course_about,course_field,school_id,school_name,school_about,...,exercise_num_problem,doing_exercise_id,doing_num_correct,concept_id,concept_prerequisite,concept_name,concept_field,course_total_comments,user_course_num_comment,user_course_num_replies
0,U_24,C_597314,1560360127,university chinese—analysis of northern song d...,,"at present, the talent gap in data science and...",[chinese language and literature],"[S_1, S_14]","[tsinghua university, southeast university]",[referred tsinghua short directly ministry edu...,...,"[1, 6, 4, 2, 4, 3, 2, 6, 3, 4, 5, 6, 4, 2, 2, ...",NaN,NaN,"[K_D_中国语言文学, K_爱国豪情_中国语言文学, K_爱国将领_中国语言文学, K_爱...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[d, patriotic pride, patriotic general, patrio...","[chinese language and literature, chinese lang...",0,0,0
1,U_24,C_597208,1560784961,data mining: theory and algorithm,,the most interesting theory + the most useful ...,[computer science and technology],[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[5, 3, 5, 3, 5, 6, 3, 3, 5, 5, 4, 5, 5, 2, 5, ...",NaN,NaN,"[K_0 part_计算机科学与技术, K_2 cities_计算机科学与技术, K_2d ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[part, cities, 2d space, matrix, + 2, 3d infor...","[computer science and technology, computer sci...",0,0,0
2,U_24,C_682129,1570379031,software theory basics,,"this course introduces formal language, automa...",NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[4, 5, 5, 6, 6, 6, 7, 7, 6, 6, 6, 5, 7, 7, 6, 5]",NaN,NaN,"[K_ASCII_计算机科学与技术, K_cfl的判定性质_计算机科学与技术, K_CYK算...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[ascii, determination of the nature of cfl, cy...","[computer science and technology, computer sci...",13,0,0
3,U_24,C_674910,1570557064,pattern aesthetics and creation,,[national premium course] this course provides...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[1, 1, 2, 3, 1, 1, 3, 2, 2, 2, 3]",NaN,NaN,NaN,NaN,NaN,NaN,386,0,0
4,U_24,C_707038,1570971985,organic chemistry,,the world's organic compounds are rich and col...,"[chemical engineering and technology, chemical]",[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[1, 6, 8, 1, 19, 8, 11, 7, 8, 9, 9, 1, 16, 5, ...",NaN,NaN,"[K_1,4-加成_化学, K_1-溴戊烷_化学, K_1-丁醇_化学, K_1-丁烯_化学...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[1,4-addition, 1-bromopentane, 1-butanol, 1-bu...","[chemical, chemical, chemical, chemical, chemi...",1876,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7473119,U_34712115,C_770738,1602487061,data structure (part 2),,breeze plan 2021 [first term recruitment] is i...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[2, 1, 1, 1, 1, 2, 1, 3, 1, 16, 1, 3, 3, 2, 1,...",NaN,NaN,"[K_0号寄存器_计算机科学与技术, K_0号元素_计算机科学与技术, K_10进制_计算机...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[register 0, element 0, decimal, register 1, 8...","[computer science and technology, computer sci...",339,0,0
7473120,U_34712115,C_676937,1603225930,advanced c++ language programming,,breeze plan 2021 [first term recruitment] is i...,[computer science and technology],[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[1, 2, 2, 3, 1, 2, 4, 5, 1, 1, 1, 1, 4, 1, 1, ...",NaN,NaN,"[K_abort_计算机科学与技术, K_area函数_计算机科学与技术, K_array对...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[abort, area function, array object, begin fun...","[computer science and technology, computer sci...",370,0,0
7473121,U_34712115,C_694136,1603226018,data mining: theory and algorithm,,the most interesting theory + the most useful ...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[4, 1, 7, 4, 6, 5, 4, 5, 4, 7, 5, 5, 3, 6, 5, ...",NaN,NaN,"[K_0 part_计算机科学与技术, K_2 cities_计算机科学与技术, K_2d ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[part, cities, 2d space, matrix, + 2, 3d infor...","[computer science and technology, computer sci...",1108,0,0
7473122,U_34712115,C_1738993,1603226118,game programming,,this course is jointly produced by tsinghua un...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, ...",NaN,NaN,NaN,NaN,NaN,NaN,77,0,0
7473123,U_34712115,C_697092,1603226187,3d game engine architecture design basics,"c++ programming, computer graphics. it is best...",game engines are independent and complex compo...,NaN,[S_11],[south china university technology],[south china university technology referred hu...,...,"[21, 10, 25, 12, 50, 20, 21, 16, 22, 24]",NaN,NaN,NaN,NaN,NaN,NaN,6,0,0

In [7]:
user_df=combine_data[['user_id','user_gender']].drop_duplicates().reset_index()
user_df

          index     user_id  user_gender
0             0        U_24            1
1            46        U_54            2
2            54        U_69            1
3            65       U_105            1
4            91       U_112            1
...         ...         ...          ...
367098  7473070  U_34712024            0
367099  7473077  U_34712050            1
367100  7473083  U_34712098            2
367101  7473111  U_34712103            1
367102  7473118  U_34712115            1

[367103 rows x 3 columns]

In [8]:
user_course=combine_data[['user_id','course_id','enroll_time']]
user_course

            user_id  course_id  enroll_time
0              U_24   C_597314   1560360127
1              U_24   C_597208   1560784961
2              U_24   C_682129   1570379031
3              U_24   C_674910   1570557064
4              U_24   C_707038   1570971985
...             ...        ...          ...
7473119  U_34712115   C_770738   1602487061
7473120  U_34712115   C_676937   1603225930
7473121  U_34712115   C_694136   1603226018
7473122  U_34712115  C_1738993   1603226118
7473123  U_34712115   C_697092   1603226187

[7284500 rows x 3 columns]

In [9]:
course_df = combine_data.filter(regex='^(course|school|teacher)')
course_df

,course_id,course_name,course_prerequisites,course_about,course_field,school_id,school_name,school_about,school_motto,teacher_id,teacher_name,teacher_about,teacher_job_title,teacher_org_name,course_total_comments
0,C_597314,university chinese—analysis of northern song d...,,"at present, the talent gap in data science and...",[chinese language and literature],"[S_1, S_14]","[tsinghua university, southeast university]",[referred tsinghua short directly ministry edu...,"[selfimprovement virtue carry thing, stop high...",[T_113],[wang bugao],[wang bugao yangzhong jiangsu studied nanjing ...,[distinguished professor],[tsinghua university],0
1,C_597208,data mining: theory and algorithm,,the most interesting theory + the most useful ...,[computer science and technology],[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_28],[yuan bo],[doctor computer science university queensland...,[associate researcher],[tsinghua university],0
2,C_682129,software theory basics,,"this course introduces formal language, automa...",NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_2648],[luo guiming],[luo guiming received master degree university...,[professor],[tsinghua university],13
3,C_674910,pattern aesthetics and creation,,[national premium course] this course provides...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_307],[nie yuehua],[nie yuehua member chinese artist association ...,[associate professor],[tsinghua university],386
4,C_707038,organic chemistry,,the world's organic compounds are rich and col...,"[chemical engineering and technology, chemical]",[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_999, T_1000, T_1001, T_1002, T_1003, T_1004...","[li yanmei, li zhaolong, hua ruimao, fu hua, z...",[li yanmei professor doctoral supervisor recei...,"[professor, researcher, professor, professor, ...","[tsinghua university, tsinghua university, tsi...",1876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7473119,C_770738,data structure (part 2),,breeze plan 2021 [first term recruitment] is i...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_805],[deng junhui],[deng junhui professor department computer sci...,[professor],[tsinghua university],339
7473120,C_676937,advanced c++ language programming,,breeze plan 2021 [first term recruitment] is i...,[computer science and technology],[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_540, T_541, T_38]","[zheng li, li chao, xu mingxing]",[zheng li professor department computer scienc...,"[professor, associate researcher, associate pr...","[tsinghua university, tsinghua university, tsi...",370
7473121,C_694136,data mining: theory and algorithm,,the most interesting theory + the most useful ...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_28],[yuan bo],[doctor computer science university queensland...,[associate researcher],[tsinghua university],1108
7473122,C_1738993,game programming,,this course is jointly produced by tsinghua un...,NaN,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_4009, T_10221, T_10222, T_10223, T_10224, T...","[xu li, zhong jianbin, gao lu, sun jun, wang y...",[tencent ieg introduction evaluation center ad...,"[lecturer, lecturer, lecturer, lecturer, lectu...","[tencent game academy, tencent game academy, t...",77
7473123,C_697092,3d game engine architecture design basics,"c++ programming, computer graphics. it is best...",game engines are independent and complex compo...,NaN,[S_11],[south china university technology],[south china university technology referred hu...,[learn think carefully clear clear],[T_3910],[chen zelin],[course teacher chen zelin engaged teaching ne...,[associate professor],[south china university technology],6

In [10]:
del combine_data

In [11]:
course_df = course_df.groupby('course_id').first().reset_index()

In [12]:
if i==1:
    
    course_df['course_info'] = course_df[
        ['course_name',
         'course_prerequisites',
         'course_about',
         # 'course_field',
         'school_name',
         'school_about',
         # 'school_motto',
         'teacher_about',
         # 'teacher_job_title',
         'teacher_org_name'
        ]
    ].apply(lambda x: ', '.join(x.astype(str)), axis=1)
else:
    course_df['course_info'] = course_df[
    ['course_name',
     'course_prerequisites',
     'course_about',
     'course_field',
     'school_name',
     'school_about',
     # 'school_motto',
     'teacher_about',
     # 'teacher_job_title',
     'teacher_org_name'
    ]
].apply(lambda x: ', '.join(x.astype(str)), axis=1)
course_df[['course_id', 'course_info']]

      course_id                                        course_info
0     C_1017355  introduction to traditional chinese medicine e...
1     C_1017419  smart government talk, , this course combines ...
2     C_1025064  principles of ideological and political educat...
3     C_1025076  advanced roller skating tutorial, , the true m...
4     C_1025079  scientific fitness method-silk-winding fitness...
...         ...                                                ...
2761   C_949542  thinking innovation and creativity development...
2762   C_955163  learn to make mini programs - practical chapte...
2763   C_956128  interpretation of hot issues of portal hyperte...
2764   C_956129  introduction to games and esports, none, the g...
2765   C_956130  multimedia technology and application, none, t...

[2766 rows x 2 columns]

In [13]:
course_df.columns

Index(['course_id', 'course_name', 'course_prerequisites', 'course_about',
       'course_field', 'school_id', 'school_name', 'school_about',
       'school_motto', 'teacher_id', 'teacher_name', 'teacher_about',
       'teacher_job_title', 'teacher_org_name', 'course_total_comments',
       'course_info'],
      dtype='object')

In [14]:
! pip install -U LibRecommender

Collecting LibRecommender
  Downloading LibRecommender-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (30 kB)
Requirement already satisfied: gensim>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from LibRecommender) (4.3.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from LibRecommender) (4.67.1)
Requirement already satisfied: numpy<2.0,>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.0.0->LibRecommender) (1.26.4)
Requirement already satisfied: scipy<1.14.0,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.0.0->LibRecommender) (1.13.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.0.0->LibRecommender) (7.0.5)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2.4.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from smart-open>=1.8.1->gensim>=4.0.0->LibRecommender) (1.17.0)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2024.2.0)
Downloading LibRecommender-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 44.1 MB/s eta 0:00:00
Installing collected packages: LibRecommender
Successfully installed LibRecommender-1.5.1

In [15]:
import numpy as np
import pandas as pd
from libreco.data import split_by_num_chrono, DatasetFeat
def split_data(data):    
    data.rename(columns={"course_id": "item","user_id":"user","enroll_time":"time"}, inplace=True)
    train_data, test_data = split_by_num_chrono(data, test_size=1)
    train_data.rename(columns={"item":"course_id","user":"user_id","time":"enroll_time"}, inplace=True)
    test_data.rename(columns={"item":"course_id","user":"user_id","time":"enroll_time"}, inplace=True)
    return train_data,test_data

In [16]:
def process_data(item_data,user_item_data):
    item_data["item"] = item_data.index
    user_item_data = user_item_data.merge(item_data[['course_id','item']], on="course_id", how="left")
    user_item_data = user_item_data.groupby("user_id")["item"].apply(list).reset_index()
    return user_item_data

In [17]:
train,test=split_data(user_course)

<ipython-input-15-4c4fd4b8e966>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={"course_id": "item","user_id":"user","enroll_time":"time"}, inplace=True)

In [18]:
train.describe()

        enroll_time
count  6.917397e+06
mean   1.588502e+09
std    9.443224e+06
min    1.558024e+09
25%    1.581153e+09
50%    1.587916e+09
75%    1.596284e+09
max    1.607395e+09

In [19]:
test.describe()

        enroll_time
count  3.671030e+05
mean   1.594554e+09
std    1.020225e+07
min    1.567001e+09
25%    1.583955e+09
50%    1.595462e+09
75%    1.605459e+09
max    1.607398e+09

In [20]:
train

           user_id  course_id  enroll_time
5997624  U_1000129   C_735210   1599328511
5997632  U_1000129   C_799796   1599328642
6008573  U_1000129  C_1925903   1599403037
6008629  U_1000129  C_1992970   1599403537
6585586  U_1000129   C_680884   1602844869
...            ...        ...          ...
1137468    U_99996   C_922850   1578691240
1137483    U_99996   C_936990   1578691372
1137499    U_99996   C_697407   1578691681
1137569    U_99996   C_696679   1578692110
1137595    U_99996   C_943250   1578692262

[6917397 rows x 3 columns]

In [21]:
new_train = process_data(course_df,train)

In [22]:
new_train

          user_id                                               item
0       U_1000129                       [2112, 2290, 585, 635, 1134]
1       U_1000342                     [2431, 1812, 1823, 1988, 2731]
2        U_100066                           [1823, 2625, 1790, 2545]
3        U_100089                     [2555, 1480, 1231, 1187, 1453]
4        U_100090  [1995, 951, 1870, 2637, 1062, 1050, 1197, 1009...
...           ...                                                ...
367098   U_999500          [1651, 1805, 2116, 971, 1818, 1704, 1707]
367099   U_999821  [1608, 1724, 2163, 989, 1444, 1916, 1993, 1156...
367100   U_999845                           [1989, 2040, 2019, 2327]
367101   U_999856               [1724, 1751, 1823, 2624, 1865, 2255]
367102    U_99996         [1841, 2200, 2516, 2568, 1954, 1701, 2582]

[367103 rows x 2 columns]

In [23]:
test = test.groupby("user_id").agg(list).reset_index()
test.head()

     user_id    course_id   enroll_time
0  U_1000129  [C_1824931]  [1606767244]
1  U_1000342   [C_696927]  [1583449823]
2   U_100066   [C_682259]  [1601415328]
3   U_100089  [C_1214863]  [1582738444]
4   U_100090  [C_1755921]  [1600725730]

In [24]:
test.rename(columns={"course_id":"target"},inplace=True)
data=new_train.merge(test[["user_id","target"]],on="user_id",how="left")
data.head()

     user_id                                               item       target
0  U_1000129                       [2112, 2290, 585, 635, 1134]  [C_1824931]
1  U_1000342                     [2431, 1812, 1823, 1988, 2731]   [C_696927]
2   U_100066                           [1823, 2625, 1790, 2545]   [C_682259]
3   U_100089                     [2555, 1480, 1231, 1187, 1453]  [C_1214863]
4   U_100090  [1995, 951, 1870, 2637, 1062, 1050, 1197, 1009...  [C_1755921]

In [25]:
data.shape

(367103, 3)

In [26]:
sp_user

       Unnamed: 0     user_id
0               0        U_54
1               1       U_172
2               2       U_464
3               3      U_1064
4               4      U_1368
...           ...         ...
24576       24576  U_34710203
24577       24577  U_34710401
24578       24578  U_34711787
24579       24579  U_34711950
24580       24580  U_34712103

[24581 rows x 2 columns]

In [27]:
data

,user_id,item,target
0,U_1000129,"[2112, 2290, 585, 635, 1134]",[C_1824931]
1,U_1000342,"[2431, 1812, 1823, 1988, 2731]",[C_696927]
2,U_100066,"[1823, 2625, 1790, 2545]",[C_682259]
3,U_100089,"[2555, 1480, 1231, 1187, 1453]",[C_1214863]
4,U_100090,"[1995, 951, 1870, 2637, 1062, 1050, 1197, 1009...",[C_1755921]
...,...,...,...
367098,U_999500,"[1651, 1805, 2116, 971, 1818, 1704, 1707]",[C_680931]
367099,U_999821,"[1608, 1724, 2163, 989, 1444, 1916, 1993, 1156...",[C_1774965]
367100,U_999845,"[1989, 2040, 2019, 2327]",[C_682759]
367101,U_999856,"[1724, 1751, 1823, 2624, 1865, 2255]",[C_948468]
367102,U_99996,"[1841, 2200, 2516, 2568, 1954, 1701, 2582]",[C_948432]

In [28]:
# data['item_count'] = data['item'].apply(len)
# top_users = data.nlargest(10000, 'item_count')['user_id']
# df_sampled = data[data['user_id'].isin(top_users)]
df_sampled = data[data['user_id'].isin(sp_user['user_id'])]

In [29]:
df_sampled.tail()

,user_id,item,target
367061,U_9968019,"[2296, 2009, 2683, 2235, 511, 2242]",[C_677097]
367070,U_9969645,"[1834, 1701, 2182, 2494, 2263, 1991, 1988, 975...",[C_677010]
367080,U_99722,"[1783, 2407, 2146, 973, 1956, 1579, 1799, 2101...",[C_1944971]
367088,U_99746,"[2113, 2398, 2502, 1156, 2275, 2594, 1052, 114...",[C_735143]
367090,U_997506,"[1790, 1988, 975, 1651, 2431, 2245, 2101, 2670...",[C_680747]

In [30]:
df_null = df_sampled[df_sampled["target"].isna()]
df_null

Empty DataFrame
Columns: [user_id, item, target]
Index: []

In [31]:
df_sampled=df_sampled.dropna()

In [32]:
docs = list(course_df.course_info) # provide list of abstracts
titles = list(course_df.course_id) # titles

In [33]:

# select weighting from 'count', 'tfidf', or 'entropy'
recommend_model = ScienceConcierge(stemming=True, ngram_range=(1,2),
                                   weighting='tfidf', norm=None,
                                   n_components=500,
                                   verbose=True)
start_time = time.time()
recommend_model.fit(docs) # input list of documents or abstracts
end_time = time.time()  # Kết thúc đo thời gian
print(f"Thời gian thực hiện: {end_time - start_time:.6f} giây")

preprocess 2766 documents with 4 workers
apply tfidf weighting to documents
perform Latent Semantic Analysis with 500 components

Thời gian thực hiện: 43.944983 giây

In [34]:
train,test

(           user_id  course_id  enroll_time
 5997624  U_1000129   C_735210   1599328511
 5997632  U_1000129   C_799796   1599328642
 6008573  U_1000129  C_1925903   1599403037
 6008629  U_1000129  C_1992970   1599403537
 6585586  U_1000129   C_680884   1602844869
 ...            ...        ...          ...
 1137468    U_99996   C_922850   1578691240
 1137483    U_99996   C_936990   1578691372
 1137499    U_99996   C_697407   1578691681
 1137569    U_99996   C_696679   1578692110
 1137595    U_99996   C_943250   1578692262

 [6917397 rows x 3 columns],
           user_id       target   enroll_time
 0       U_1000129  [C_1824931]  [1606767244]
 1       U_1000342   [C_696927]  [1583449823]
 2        U_100066   [C_682259]  [1601415328]
 3        U_100089  [C_1214863]  [1582738444]
 4        U_100090  [C_1755921]  [1600725730]
 ...           ...          ...           ...
 367098   U_999500   [C_680931]  [1586572793]
 367099   U_999821  [C_1774965]  [1588442049]
 367100   U_999845   [C_682759]  [1573404727]
 367101   U_999856   [C_948468]  [1583083695]
 367102    U_99996   [C_948432]  [1578692384]

 [367103 rows x 3 columns])

In [35]:
from joblib import dump, load

# Lưu model
dump(recommend_model, "ScienceConcierge.joblib")

# Load lại model
recommend_model = load("ScienceConcierge.joblib")

In [36]:
def recommend_courses(model, user_course , num_recommendations=None):
    recommendations = {}

    # Dự đoán cho tất cả người dùng trong test_user với thanh tiến trình
    for user_id in tqdm(user_course['user_id'].unique(), desc="Khuyến nghị cho người dùng", unit="user"):
        # Lấy danh sách khóa học mà người dùng đã thích
        like_list = user_course.loc[user_course['user_id'] == user_id, 'item'].iloc[0]
        like_list = like_list[-2:] if len(like_list) >= 2 else like_list
        # Dự đoán cho tất cả các khóa học của người dùng (tắt chi tiết trong dự đoán)
        index = recommend_model.recommend(likes=like_list, dislikes=[]) # input list of like/dislike index (here we like title[10000])
        # Lấy top k khóa học dựa trên dự đoán
        if num_recommendations is None:
            recommended_courses = [titles[i] for i in index]
        else:
            recommended_courses = [titles[i] for i in index[:num_recommendations]]
        # Lưu các khóa học được khuyến nghị
        recommendations[user_id] = recommended_courses

    return recommendations

In [37]:
import numpy as np

# Precision@5
def precision_at_k(y_true, recommendations, k=5):
    precision_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = sum(1 for course in top_k_pred if course in true_courses)
        precision_scores.append(relevant / k)
    return np.mean(precision_scores) if precision_scores else 0.0

# Recall@5
def recall_at_k(y_true, recommendations, k=5):
    recall_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = sum(1 for course in top_k_pred if course in true_courses)
        recall_scores.append(relevant / len(true_courses))
    return np.mean(recall_scores) if recall_scores else 0.0

# Hit Rate@5
def hit_rate_at_k(y_true, recommendations, k=5):
    hit_rate_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = any(course in true_courses for course in top_k_pred)
        hit_rate_scores.append(int(relevant))
    return np.mean(hit_rate_scores) if hit_rate_scores else 0.0

# NDCG@5
def ndcg_at_k(y_true, recommendations, k=5):
    dcg_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        dcg_score = sum(1 / np.log2(i + 2) for i, course in enumerate(top_k_pred) if course in true_courses)
        idcg_score = sum(1 / np.log2(i + 2) for i in range(min(k, len(true_courses))))
        dcg_scores.append(dcg_score / idcg_score if idcg_score > 0 else 0.0)
    return np.mean(dcg_scores) if dcg_scores else 0.0

# MAP@5
def map_at_k(y_true, recommendations, k=5):
    ap_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = [1 if course in true_courses else 0 for course in top_k_pred]
        if sum(relevant) == 0:
            ap_scores.append(0.0)
            continue
        precision_at_i = []
        for i in range(min(k, len(top_k_pred))):
            if relevant[i]:
                precision_at_i.append(sum(relevant[:i+1]) / (i+1))
        ap = sum(precision_at_i) / min(len(true_courses), k)
        ap_scores.append(ap)
    return np.mean(ap_scores) if ap_scores else 0.0

# F1 Score@5
def f1_at_k(y_true, recommendations, k=5):
    f1_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = sum(1 for course in top_k_pred if course in true_courses)
        precision = relevant / k
        recall = relevant / len(true_courses)
        if precision + recall > 0:
            f1 = 2 * (precision * recall) / (precision + recall)
        else:
            f1 = 0.0
        f1_scores.append(f1)
    return np.mean(f1_scores) if f1_scores else 0.0

# Hàm đánh giá mô hình
def evaluate_model(y_true, recommendations, k=5):
    """
    Đánh giá mô hình với Precision@5, Recall@5, Hit Rate@5, NDCG@5, MAP@5, F1 Score@5.

    Parameters:
    y_true: DataFrame hoặc dict chứa các khóa học thực tế trong tập TEST.
    recommendations: dict chứa các khóa học khuyến nghị.
    k: Số khóa học top cần xét (default là 5).

    Returns:
    dict: Các độ đo Precision@5, Recall@5, Hit Rate@5, NDCG@5, MAP@5, F1 Score@5.
    """
    # Chuyển y_true thành dict
    if hasattr(y_true, 'set_index'):
        y_true_dict = {}
        for user_id, target in y_true.set_index('user_id')['target'].items():
            y_true_dict[user_id] = [target] if not isinstance(target, (list, set)) else list(target)
        y_true = y_true_dict
    else:
        y_true = {k: [v] if not isinstance(v, (list, set)) else list(v) for k, v in y_true.items()}

    precision = precision_at_k(y_true, recommendations, k)
    recall = recall_at_k(y_true, recommendations, k)
    hit_rate = hit_rate_at_k(y_true, recommendations, k)
    ndcg = ndcg_at_k(y_true, recommendations, k)
    map_k = map_at_k(y_true, recommendations, k)
    f1 = f1_at_k(y_true, recommendations, k)

    return {
        f"Baseline": f"V{i+1}-CBF@{k}",
        f"Precision": round(precision,4),
        f"Recall": round(recall,4),
        f"HitRate": round(hit_rate,4),
        f"NDCG": round(ndcg,4),
        f"MAP": round(map_k,4),
        f"F1-score": round(f1,4)
    }

In [38]:
df_sampled.set_index("user_id")["target"]

user_id
U_100090      [C_1755921]
U_1002476      [C_682463]
U_100281       [C_948078]
U_10033817     [C_677049]
U_10033948    [C_1822804]
                 ...
U_9968019      [C_677097]
U_9969645      [C_677010]
U_99722       [C_1944971]
U_99746        [C_735143]
U_997506       [C_680747]
Name: target, Length: 24090, dtype: object

In [39]:
df_sampled

,user_id,item,target
4,U_100090,"[1995, 951, 1870, 2637, 1062, 1050, 1197, 1009...",[C_1755921]
21,U_1002476,"[2290, 2161, 1945, 1776, 2291, 1473, 1750, 226...",[C_682463]
24,U_100281,"[2164, 1948, 2041, 1823, 1848, 1812, 2731, 22,...",[C_948078]
44,U_10033817,"[2116, 2113, 926, 1197, 2407, 2685, 2658, 426,...",[C_677049]
46,U_10033948,"[1557, 2699, 1383, 1152, 2659, 2705, 1392]",[C_1822804]
...,...,...,...
367061,U_9968019,"[2296, 2009, 2683, 2235, 511, 2242]",[C_677097]
367070,U_9969645,"[1834, 1701, 2182, 2494, 2263, 1991, 1988, 975...",[C_677010]
367080,U_99722,"[1783, 2407, 2146, 973, 1956, 1579, 1799, 2101...",[C_1944971]
367088,U_99746,"[2113, 2398, 2502, 1156, 2275, 2594, 1052, 114...",[C_735143]
367090,U_997506,"[1790, 1988, 975, 1651, 2431, 2245, 2101, 2670...",[C_680747]

In [40]:
start_time = time.time()
results = recommend_courses(recommend_model,df_sampled)
end_time = time.time()  # Kết thúc đo thời gian

print(f"Thời gian thực hiện: {end_time - start_time:.6f} giây")

Khuyến nghị cho người dùng: 100%|██████████| 24090/24090 [04:47<00:00, 83.67user/s]

Thời gian thực hiện: 287.928999 giây

In [41]:
df_sampled.describe()

         user_id                      item      target
count      24090                     24090       24090
unique     24090                     23085        2320
top     U_100090  [1840, 1783, 1823, 2085]  [C_681353]
freq           1                        55         316

In [42]:
def filter_recommendations_from_df(recommendations, train_user_df, test_user_df, all_items, num_neg=100):
    """
    recommendations: dict {user_id: [item1, item2, ..., itemN]}
    train_user_df: DataFrame with columns ['user_id', 'course_id']
    test_user_df: DataFrame with columns ['user_id', 'target'] — 1 positive item per user
    all_items: list or set of all item ids
    """
    assert 'user_id' in train_user_df.columns and 'course_id' in train_user_df.columns
    assert 'user_id' in test_user_df.columns and 'target' in test_user_df.columns

    train_dict = train_user_df.groupby('user_id')['course_id'].apply(set).to_dict()
    test_dict = test_user_df.groupby('user_id')['target'].first().to_dict()

    final_result = {}

    for user_id, rec_items in recommendations.items():
        pos_item = test_dict.get(user_id)
        if pos_item is None:
            continue

        # Ensure pos_item is a scalar
        if isinstance(pos_item, list):
            pos_item = pos_item[0]

        train_items = train_dict.get(user_id, set())
        test_items = {pos_item}
        unavailable_items = train_items.union(test_items)

        candidate_items = list(set(all_items) - unavailable_items)
        if len(candidate_items) < num_neg:
            continue

        sampled_neg_items = set(random.sample(candidate_items, num_neg))
        allowed_items = sampled_neg_items.union({pos_item})

        filtered_items = [item for item in rec_items if item in allowed_items]

        if pos_item in filtered_items and len(filtered_items) >= (num_neg + 1):
            final_result[user_id] = filtered_items

    return final_result

In [43]:
all_item=results["U_100090"]

In [44]:
fn_results = filter_recommendations_from_df(results, train ,test,all_item)

In [45]:
eval_5 = evaluate_model(df_sampled[["user_id","target"]], fn_results,5)
eval_10 = evaluate_model(df_sampled[["user_id","target"]], fn_results,10)

In [46]:
{k: [eval_5[k], eval_10[k]] for k in eval_5}

{'Baseline': ['V1-CBF@5', 'V1-CBF@10'],
 'Precision': [0.0485, 0.0314],
 'Recall': [0.2425, 0.3141],
 'HitRate': [0.2425, 0.3141],
 'NDCG': [0.1892, 0.2121],
 'MAP': [0.1715, 0.1809],
 'F1-score': [0.0808, 0.0571]}

In [47]:
eval_5 = evaluate_model(df_sampled[["user_id","target"]], results,5)
eval_10 = evaluate_model(df_sampled[["user_id","target"]], results,10)

In [48]:
{k: [eval_5[k], eval_10[k]] for k in eval_5}

{'Baseline': ['V1-CBF@5', 'V1-CBF@10'],
 'Precision': [0.0115, 0.0086],
 'Recall': [0.0574, 0.0861],
 'HitRate': [0.0574, 0.0861],
 'NDCG': [0.0308, 0.04],
 'MAP': [0.0221, 0.0259],
 'F1-score': [0.0191, 0.0157]}