In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
from tqdm import tqdm
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time
import random
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/combine-dataset/__results__.html
/kaggle/input/combine-dataset/combine_data.h5
/kaggle/input/combine-dataset/__notebook__.ipynb
/kaggle/input/combine-dataset/__output__.json
/kaggle/input/combine-dataset/custom.css
/kaggle/input/dataver2-train-test/__results__.html
/kaggle/input/dataver2-train-test/data_ver2.h5
/kaggle/input/dataver2-train-test/__notebook__.ipynb
/kaggle/input/dataver2-train-test/__output__.json
/kaggle/input/dataver2-train-test/custom.css
/kaggle/input/preprocessing-user-json/user.csv
/kaggle/input/preprocessing-user-json/__results__.html
/kaggle/input/preprocessing-user-json/user-5-100.csv
/kaggle/input/preprocessing-user-json/__notebook__.ipynb
/kaggle/input/preprocessing-user-json/__output__.json
/kaggle/input/preprocessing-user-json/user-course.csv
/kaggle/input/preprocessing-user-json/custom.css
/kaggle/input/dataver5/__results__.html
/kaggle/input/dataver5/__huggingface_repos__.json
/kaggle/input/dataver5/__notebook__.ipynb
/kaggle/input/dataver5/data_ver5.h5
/kaggle/input/dataver5/__output__.json
/kaggle/input/dataver5/custom.css
/kaggle/input/dataset-version-3/dataver3.h5
/kaggle/input/dataver3/dataver3.h5
/kaggle/input/dataver3/__results__.html
/kaggle/input/dataver3/__notebook__.ipynb
/kaggle/input/dataver3/__output__.json
/kaggle/input/dataver3/custom.css
/kaggle/input/preprocessing-course-json/course.json
/kaggle/input/preprocessing-course-json/__results__.html
/kaggle/input/preprocessing-course-json/__notebook__.ipynb
/kaggle/input/preprocessing-course-json/__output__.json
/kaggle/input/preprocessing-course-json/custom.css
/kaggle/input/dataver4/__results__.html
/kaggle/input/dataver4/__huggingface_repos__.json
/kaggle/input/dataver4/dataver4.h5
/kaggle/input/dataver4/__notebook__.ipynb
/kaggle/input/dataver4/__output__.json
/kaggle/input/dataver4/custom.css
/kaggle/input/random-user/sample_user.csv
/kaggle/input/random-user/__results__.html
/kaggle/input/random-user/__notebook__.ipynb
/kaggle/input/random-user/__output__.json
/kaggle/input/random-user/custom.css

In [2]:
i=1
path=[
    "/kaggle/input/combine-dataset/combine_data.h5",
    "/kaggle/input/dataver2-train-test/data_ver2.h5",
    "/kaggle/input/dataver3/dataver3.h5",
    "/kaggle/input/dataver4/dataver4.h5",
    "/kaggle/input/dataver5/data_ver5.h5"
     ]

In [ ]:
!git clone https://github.com/Briandy23/CBF.git
%cd CBF
! pip install -r requirements.txt
! python setup.py develop install

Cloning into 'CBF'...
remote: Enumerating objects: 588, done.
remote: Counting objects: 100% (588/588), done.
remote: Compressing objects: 100% (229/229), done.
remote: Total 588 (delta 356), reused 584 (delta 352), pack-reused 0 (from 0)
Receiving objects: 100% (588/588), 11.91 MiB | 37.08 MiB/s, done.
Resolving deltas: 100% (356/356), done.
/kaggle/working/CBF
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 1)) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 2)) (2.2.3)
Collecting unidecode (from -r requirements.txt (line 3))
  Downloading Unidecode-1.4.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 4)) (3.2.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 5)) (1.2.2)
Requirement already satisfied: cachetools in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 6)) (5.5.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 7)) (1.4.2)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy->-r requirements.txt (line 1)) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from nltk->-r requirements.txt (line 4)) (1.17.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->-r requirements.txt (line 5)) (1.13.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->-r requirements.txt (line 5)) (3.5.0)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy->-r requirements.txt (line 1)) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy->-r requirements.txt (line 1)) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy->-r requirements.txt (line 1)) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy->-r requirements.txt (line 1)) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy->-r requirements.txt (line 1)) (2024.2.0)
Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.8/235.8 kB 5.0 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
/usr/local/lib/python3.10/dist-packages/setuptools/command/develop.py:41: EasyInstallDeprecationWarning: easy_install command is deprecated.
!!

        ********************************************************************************
        Please avoid running ``setup.py`` and ``easy_install``.
        Instead, use pypa/build, pypa/installer or other
        standards-based tools.

        See https://github.com/pypa/setuptools/issues/917 for details.
        ********************************************************************************

!!
  easy_install.initialize_options(self)
/usr/local/lib/python3.10/dist-packages/setuptools/_distutils/cmd.py:66: SetuptoolsDeprecationWarning: setup.py install is deprecated.
!!

        ********************************************************************************
        Please avoid running ``setup.py`` directly.
        Instead, use pypa/build, pypa/installer or other
        standards-based tools.

        See https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html for details.
        ********************************************************************************

!!
  self.initialize_options()
/usr/local/lib/python3.10/dist-packages/setuptools/_core_metadata.py:161: SetuptoolsDeprecationWarning: Invalid config.
!!

        ********************************************************************************
        newlines are not allowed in `summary` and will break in the future
        ********************************************************************************

!!
  write_field('Summary', single_line(summary))
/usr/local/lib/python3.10/dist-packages/setuptools/_distutils/cmd.py:66: EasyInstallDeprecationWarning: easy_install command is deprecated.
!!

        ********************************************************************************
        Please avoid running ``setup.py`` and ``easy_install``.
        Instead, use pypa/build, pypa/installer or other
        standards-based tools.

        See https://github.com/pypa/setuptools/issues/917 for details.
        ********************************************************************************

!!
  self.initialize_options()

In [4]:
import pandas as pd
from science_concierge import ScienceConcierge

In [5]:
sp_user = pd.read_csv("/kaggle/input/random-user/sample_user.csv")

In [6]:
combine_data = pd.read_hdf(path[i], key='df')
combine_data

,user_id,course_id,enroll_time,course_name,course_prerequisites,course_about,school_id,school_name,school_about,school_motto,...,teacher_org_name,user_gender,exercise_id,exercise_num_problem,course_total_comments,user_course_num_comment,user_course_num_replies,video_id,video_ccid,video_duration
0,U_1000129,C_735210,1599328511,university physics-electromagnetism (teaching ...,calculus newtonian mechanics,"physics, explore the laws of nature, and pursu...",[S_148],[yunnan university],[yunnan university abbreviated yunnan universi...,[unknown],...,[yunnan university],0,"[Ex_635488, Ex_635480, Ex_635544, Ex_635491, E...","[5, 4, 2, 4, 7, 5, 5, 1, 6, 2, 5, 2, 1, 7, 3, ...",461,0,0,"[V_635512, V_635472, V_635516, V_635495, V_635...","[196B00DFA5515EB09C33DC5901307461, 1974570A080...","[889.363, 578.897, 404.653, 686.529, 429.572, ..."
1,U_1000129,C_799796,1599328642,"university physics 1 (mechanics, thermal)",no prerequisite,university physics is a basic physics course f...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],...,"[tsinghua university, tsinghua university, tsi...",0,"[Ex_822309, Ex_822340, Ex_822311, Ex_822327, E...","[4, 23, 7, 4, 5, 6, 10, 1, 8, 3, 5, 4, 4, 4, 1...",448,0,0,"[V_822227, V_822159, V_822282, V_822255, V_822...","[009035DB2BED87229C33DC5901307461, 015AC6C3159...","[237.67, 582.588, 405.612, 157.22, 392.304, 45..."
2,U_1000129,C_1925903,1599403037,mathematical analysis ii,mathematical analysis i,the mooc course in mathematical analysis ii ma...,[S_76],[beijing jiaotong university],[beijing jiaotong university national key univ...,[unknown],...,[beijing jiaotong university],0,"[Ex_6731684, Ex_6729452, Ex_6729437, Ex_672939...","[4, 1, 10, 5, 3, 7, 5, 1, 1, 7, 7, 7, 1, 6, 2,...",1,0,0,NaN,NaN,NaN
3,U_1000129,C_1992970,1599403537,mathematical analysis iii,no prerequisite,the mooc course of mathematical analysis iii c...,[S_76],[beijing jiaotong university],[beijing jiaotong university national key univ...,[unknown],...,[beijing jiaotong university],0,"[Ex_6882416, Ex_6882349, Ex_6882375, Ex_688239...","[8, 4, 6, 4, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 6, ...",4,0,0,NaN,NaN,NaN
4,U_1000129,C_680884,1602844869,complex function,no prerequisite,let students master the mathematical theoretic...,[S_31],[xian jiaotong university],[xian jiaotong university referred xian jiaoto...,[diligent study righteous inspiring perseveran...,...,"[xian jiaotong university, xian jiaotong unive...",0,"[Ex_136594, Ex_136559, Ex_136574, Ex_136545, E...","[13, 15, 14, 15, 14, 16]",42,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267285,U_999500,C_680931,1586572793,social statistics analysis based on r language,no prerequisite,suffering from mathematical phobia? feeling at...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],...,[tsinghua university],2,"[Ex_141819, Ex_141825, Ex_141814, Ex_141831, E...","[5, 5, 4, 5, 5, 5, 5, 5, 5, 5]",29,0,0,"[V_141823, V_141811, V_141833, V_141815, V_141...","[026313D8EC07E23D9C33DC5901307461, 05C92A6D2B8...","[824.16, 530.24, 1343.9, 275.76, 883.82, 593.6..."
7267286,U_999821,C_1774965,1588442049,financial english,no prerequisite,the course is aimed to help senior or graduat...,[S_144],[shandong university],[shandong university directly ministry educati...,[unknown],...,[shandong university],0,"[Ex_4884886, Ex_4884913, Ex_4884876, Ex_4884922]","[15, 15, 15, 10]",4,0,0,NaN,NaN,NaN
7267287,U_999845,C_682759,1573404727,advanced java programming,this course requires a basic java programming,the content of this course mainly includes jav...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],...,[tsinghua university],1,"[Ex_394597, Ex_394599, Ex_394598, Ex_394600]","[5, 1, 3, 1]",41,0,0,"[V_394606, V_394594, V_394641, V_394613, V_394...","[05308C819BD8DF5B9C33DC5901307461, 085ED554A55...","[976.653, 293.433, 1624.946, 524.186, 55.034, ..."
7267288,U_999856,C_948468,1583083695,python big data analysis,no prerequisite,python is a basic language that computer major...,[S_144],[shandong university],[shandong university directly ministry educati...,[unknown],...,"[shandong university, shandong university, sha...",0,"[Ex_3881163, Ex_3881157, Ex_3498339, Ex_388116...","[6, 9, 5, 4, 10, 6, 26, 19, 13, 9, 14, 15]",879,0,0,NaN,NaN,NaN
7267289,U_99996,C_948432,1578692384,advanced power system analysis,no prerequisite,this course explains in detail network equatio...,[S_117],[north china electric power university],[north china electric power university nationa...,[unity diligence practicality innovation],...,[north china electric power university],1,"[Ex_1484783, Ex_1484777, Ex_1484756, Ex_148479...","[19, 21, 25, 14, 18, 16, 16, 26, 18, 14, 48]",29,0,0,NaN,NaN,NaN

In [7]:
user_df=combine_data[['user_id','user_gender']].drop_duplicates().reset_index()
user_df

          index    user_id  user_gender
0             0  U_1000129            0
1             5  U_1000342            0
2            10   U_100066            2
3            14   U_100089            1
4            19   U_100090            0
...         ...        ...          ...
367096  7258416  U_7734001            2
367097  7258417  U_7734011            0
367098  7258419  U_7734027            0
367099  7259454    U_79862            1
367100  7266115  U_9722873            1

[367101 rows x 3 columns]

In [8]:
user_course=combine_data[['user_id','course_id','enroll_time']]
user_course

           user_id  course_id  enroll_time
0        U_1000129   C_735210   1599328511
1        U_1000129   C_799796   1599328642
2        U_1000129  C_1925903   1599403037
3        U_1000129  C_1992970   1599403537
4        U_1000129   C_680884   1602844869
...            ...        ...          ...
7267285   U_999500   C_680931   1586572793
7267286   U_999821  C_1774965   1588442049
7267287   U_999845   C_682759   1573404727
7267288   U_999856   C_948468   1583083695
7267289    U_99996   C_948432   1578692384

[7267290 rows x 3 columns]

In [9]:
course_df = combine_data.filter(regex='^(course|school|teacher)')
course_df

,course_id,course_name,course_prerequisites,course_about,school_id,school_name,school_about,school_motto,teacher_id,teacher_name,teacher_about,teacher_job_title,teacher_org_name,course_total_comments
0,C_735210,university physics-electromagnetism (teaching ...,calculus newtonian mechanics,"physics, explore the laws of nature, and pursu...",[S_148],[yunnan university],[yunnan university abbreviated yunnan universi...,[unknown],[T_4242],[hu jianqiao],[hu jianqiao associate professor bachelor degr...,[associate professor],[yunnan university],461
1,C_799796,"university physics 1 (mechanics, thermal)",no prerequisite,university physics is a basic physics course f...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_164, T_165, T_166, T_167, T_168, T_169]","[yu, chen xinyi, zhang liuwan, wang shanying, ...",[yu professor doctoral supervisor engaged basi...,"[professor, professor, professor, associate pr...","[tsinghua university, tsinghua university, tsi...",448
2,C_1925903,mathematical analysis ii,mathematical analysis i,the mooc course in mathematical analysis ii ma...,[S_76],[beijing jiaotong university],[beijing jiaotong university national key univ...,[unknown],[T_12975],[song shichang],[since taught department mathematics school sc...,[associate professor],[beijing jiaotong university],1
3,C_1992970,mathematical analysis iii,no prerequisite,the mooc course of mathematical analysis iii c...,[S_76],[beijing jiaotong university],[beijing jiaotong university national key univ...,[unknown],[T_12975],[song shichang],[since taught department mathematics school sc...,[associate professor],[beijing jiaotong university],4
4,C_680884,complex function,no prerequisite,let students master the mathematical theoretic...,[S_31],[xian jiaotong university],[xian jiaotong university referred xian jiaoto...,[diligent study righteous inspiring perseveran...,"[T_1523, T_1524, T_1525]","[wu huizhuo, zhang hongying, yi yuan]",[present professor doctoral associate professo...,"[associate professor, professor, professor]","[xian jiaotong university, xian jiaotong unive...",42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267285,C_680931,social statistics analysis based on r language,no prerequisite,suffering from mathematical phobia? feeling at...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_1588],[luo hao],[luo hao phd lecturer graduated department sta...,[lecturer],[tsinghua university],29
7267286,C_1774965,financial english,no prerequisite,the course is aimed to help senior or graduat...,[S_144],[shandong university],[shandong university directly ministry educati...,[unknown],[T_10574],[li ying],[unit professor finance school economics shand...,[professor],[shandong university],4
7267287,C_682759,advanced java programming,this course requires a basic java programming,the content of this course mainly includes jav...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_1611],[xu bin],[xu bin male phd currently associate researche...,[associate researcher],[tsinghua university],41
7267288,C_948468,python big data analysis,no prerequisite,python is a basic language that computer major...,[S_144],[shandong university],[shandong university directly ministry educati...,[unknown],"[T_7560, T_7572, T_7573]","[cui lizhen, lu xudong, pan peng]",[professor doctoral supervisor currently dean ...,"[professor, lecturer, lecturer]","[shandong university, shandong university, sha...",879
7267289,C_948432,advanced power system analysis,no prerequisite,this course explains in detail network equatio...,[S_117],[north china electric power university],[north china electric power university nationa...,[unity diligence practicality innovation],[T_7692],[liu chongru],[liu chongru graduated tsinghua university ele...,[professor],[north china electric power university],29

In [10]:
del combine_data

In [11]:
course_df = course_df.groupby('course_id').first().reset_index()

In [12]:
if i==1:
    
    course_df['course_info'] = course_df[
        ['course_name',
         'course_prerequisites',
         'course_about',
         # 'course_field',
         'school_name',
         'school_about',
         # 'school_motto',
         'teacher_about',
         # 'teacher_job_title',
         'teacher_org_name'
        ]
    ].apply(lambda x: ', '.join(x.astype(str)), axis=1)
else:
    course_df['course_info'] = course_df[
    ['course_name',
     'course_prerequisites',
     'course_about',
     'course_field',
     'school_name',
     'school_about',
     # 'school_motto',
     'teacher_about',
     # 'teacher_job_title',
     'teacher_org_name'
    ]
].apply(lambda x: ', '.join(x.astype(str)), axis=1)
course_df[['course_id', 'course_info']]

      course_id                                        course_info
0     C_1017355  introduction to traditional chinese medicine e...
1     C_1017419  smart government talk, no prerequisite, this c...
2     C_1025064  principles of ideological and political educat...
3     C_1025076  advanced roller skating tutorial, no prerequis...
4     C_1025079  scientific fitness method-silk-winding fitness...
...         ...                                                ...
2750   C_949542  thinking innovation and creativity development...
2751   C_955163  learn to make mini programs - practical chapte...
2752   C_956128  interpretation of hot issues of portal hyperte...
2753   C_956129  introduction to games and esports, no prerequi...
2754   C_956130  multimedia technology and application, no prer...

[2755 rows x 2 columns]

In [13]:
course_df.columns

Index(['course_id', 'course_name', 'course_prerequisites', 'course_about',
       'school_id', 'school_name', 'school_about', 'school_motto',
       'teacher_id', 'teacher_name', 'teacher_about', 'teacher_job_title',
       'teacher_org_name', 'course_total_comments', 'course_info'],
      dtype='object')

In [14]:
! pip install -U LibRecommender

Collecting LibRecommender
  Downloading LibRecommender-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (30 kB)
Requirement already satisfied: gensim>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from LibRecommender) (4.3.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from LibRecommender) (4.67.1)
Requirement already satisfied: numpy<2.0,>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.0.0->LibRecommender) (1.26.4)
Requirement already satisfied: scipy<1.14.0,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.0.0->LibRecommender) (1.13.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim>=4.0.0->LibRecommender) (7.0.5)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2.4.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from smart-open>=1.8.1->gensim>=4.0.0->LibRecommender) (1.17.0)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy<2.0,>=1.18.5->gensim>=4.0.0->LibRecommender) (2024.2.0)
Downloading LibRecommender-1.5.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 24.3 MB/s eta 0:00:00
Installing collected packages: LibRecommender
Successfully installed LibRecommender-1.5.1

In [15]:
import numpy as np
import pandas as pd
from libreco.data import split_by_num_chrono, DatasetFeat
def split_data(data):    
    data.rename(columns={"course_id": "item","user_id":"user","enroll_time":"time"}, inplace=True)
    train_data, test_data = split_by_num_chrono(data, test_size=1)
    train_data.rename(columns={"item":"course_id","user":"user_id","time":"enroll_time"}, inplace=True)
    test_data.rename(columns={"item":"course_id","user":"user_id","time":"enroll_time"}, inplace=True)
    return train_data,test_data

In [16]:
def process_data(item_data,user_item_data):
    item_data["item"] = item_data.index
    user_item_data = user_item_data.merge(item_data[['course_id','item']], on="course_id", how="left")
    user_item_data = user_item_data.groupby("user_id")["item"].apply(list).reset_index()
    return user_item_data

In [17]:
train,test=split_data(user_course)

<ipython-input-15-4c4fd4b8e966>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={"course_id": "item","user_id":"user","enroll_time":"time"}, inplace=True)

In [18]:
train.describe()

        enroll_time
count  6.902037e+06
mean   1.588512e+09
std    9.444293e+06
min    1.558024e+09
25%    1.581157e+09
50%    1.587936e+09
75%    1.596292e+09
max    1.607395e+09

In [19]:
test.describe()

        enroll_time
count  3.638280e+05
mean   1.594564e+09
std    1.021074e+07
min    1.567001e+09
25%    1.583944e+09
50%    1.595584e+09
75%    1.605459e+09
max    1.607398e+09

In [20]:
train

           user_id  course_id  enroll_time
5981157  U_1000129   C_735210   1599328511
5981165  U_1000129   C_799796   1599328642
5992099  U_1000129  C_1925903   1599403037
5992155  U_1000129  C_1992970   1599403537
6568928  U_1000129   C_680884   1602844869
...            ...        ...          ...
1132042    U_99996   C_922850   1578691240
1132057    U_99996   C_936990   1578691372
1132072    U_99996   C_697407   1578691681
1132142    U_99996   C_696679   1578692110
1132168    U_99996   C_943250   1578692262

[6902037 rows x 3 columns]

In [21]:
new_train = process_data(course_df,train)

In [22]:
new_train

          user_id                                               item
0       U_1000129                       [2102, 2279, 585, 635, 1134]
1       U_1000342                     [2420, 1803, 1814, 1978, 2720]
2        U_100066                           [1814, 2614, 1781, 2534]
3        U_100089                     [2544, 1471, 1231, 1187, 1444]
4        U_100090  [1985, 951, 1861, 2626, 1062, 1050, 1197, 1009...
...           ...                                                ...
367096   U_999500          [1642, 1796, 2106, 971, 1809, 1695, 1698]
367097   U_999821  [1599, 1715, 2152, 989, 1435, 1907, 1983, 1156...
367098   U_999845                           [1979, 2030, 2009, 2316]
367099   U_999856               [1715, 1742, 1814, 2613, 1856, 2244]
367100    U_99996         [1832, 2189, 2505, 2557, 1945, 1692, 2571]

[367101 rows x 2 columns]

In [23]:
test = test.groupby("user_id").agg(list).reset_index()
test.head()

     user_id    course_id   enroll_time
0  U_1000129  [C_1824931]  [1606767244]
1  U_1000342   [C_696927]  [1583449823]
2   U_100066   [C_682259]  [1601415328]
3   U_100089  [C_1214863]  [1582738444]
4   U_100090  [C_1755921]  [1600725730]

In [24]:
test.rename(columns={"course_id":"target"},inplace=True)
data=new_train.merge(test[["user_id","target"]],on="user_id",how="left")
data.head()

     user_id                                               item       target
0  U_1000129                       [2102, 2279, 585, 635, 1134]  [C_1824931]
1  U_1000342                     [2420, 1803, 1814, 1978, 2720]   [C_696927]
2   U_100066                           [1814, 2614, 1781, 2534]   [C_682259]
3   U_100089                     [2544, 1471, 1231, 1187, 1444]  [C_1214863]
4   U_100090  [1985, 951, 1861, 2626, 1062, 1050, 1197, 1009...  [C_1755921]

In [25]:
data.shape

(367101, 3)

In [26]:
sp_user

       Unnamed: 0     user_id
0               0        U_54
1               1       U_172
2               2       U_464
3               3      U_1064
4               4      U_1368
...           ...         ...
24576       24576  U_34710203
24577       24577  U_34710401
24578       24578  U_34711787
24579       24579  U_34711950
24580       24580  U_34712103

[24581 rows x 2 columns]

In [27]:
data

,user_id,item,target
0,U_1000129,"[2102, 2279, 585, 635, 1134]",[C_1824931]
1,U_1000342,"[2420, 1803, 1814, 1978, 2720]",[C_696927]
2,U_100066,"[1814, 2614, 1781, 2534]",[C_682259]
3,U_100089,"[2544, 1471, 1231, 1187, 1444]",[C_1214863]
4,U_100090,"[1985, 951, 1861, 2626, 1062, 1050, 1197, 1009...",[C_1755921]
...,...,...,...
367096,U_999500,"[1642, 1796, 2106, 971, 1809, 1695, 1698]",[C_680931]
367097,U_999821,"[1599, 1715, 2152, 989, 1435, 1907, 1983, 1156...",[C_1774965]
367098,U_999845,"[1979, 2030, 2009, 2316]",[C_682759]
367099,U_999856,"[1715, 1742, 1814, 2613, 1856, 2244]",[C_948468]
367100,U_99996,"[1832, 2189, 2505, 2557, 1945, 1692, 2571]",[C_948432]

In [28]:
# data['item_count'] = data['item'].apply(len)
# top_users = data.nlargest(10000, 'item_count')['user_id']
# df_sampled = data[data['user_id'].isin(top_users)]
df_sampled = data[data['user_id'].isin(sp_user['user_id'])]

In [29]:
df_sampled.tail()

,user_id,item,target
367059,U_9968019,"[2285, 1999, 2672, 2224, 511, 2231]",[C_677097]
367068,U_9969645,"[1825, 1692, 2171, 2483, 2252, 1981, 1978, 975...",[C_677010]
367078,U_99722,"[1774, 2396, 2135, 973, 1947, 1570, 1790, 2091...",NaN
367086,U_99746,"[2103, 2387, 2491, 1156, 2264, 2583, 1052, 114...",[C_735143]
367088,U_997506,"[1781, 1978, 975, 1642, 2420, 2234, 2091, 2659...",[C_680747]

In [30]:
df_null = df_sampled[df_sampled["target"].isna()]
df_null

           user_id                                               item target
1886    U_10469636                                           [53, 11]    NaN
2469    U_10607912  [1978, 2279, 2354, 1395, 1983, 1950, 2361, 236...    NaN
2677    U_10656413  [1814, 973, 2420, 2234, 2415, 975, 1395, 2139,...    NaN
7661     U_1142999  [1926, 2173, 2424, 2454, 1813, 2157, 525, 2106...    NaN
10333    U_1171136  [2178, 2383, 1777, 2054, 1794, 1983, 1373, 250...    NaN
...            ...                                                ...    ...
363090   U_8910057  [2420, 1981, 1660, 2030, 1642, 1475, 1892, 978...    NaN
364197   U_9199951  [2113, 1337, 2491, 2751, 1981, 1979, 1672, 177...    NaN
364253   U_9209903                     [2623, 1931, 1892, 1899, 1715]    NaN
365383   U_9519814  [1928, 2415, 1825, 1076, 1034, 2000, 1827, 169...    NaN
367078     U_99722  [1774, 2396, 2135, 973, 1947, 1570, 1790, 2091...    NaN

[145 rows x 3 columns]

In [31]:
df_sampled=df_sampled.dropna()

In [32]:
docs = list(course_df.course_info) # provide list of abstracts
titles = list(course_df.course_id) # titles

In [33]:

# select weighting from 'count', 'tfidf', or 'entropy'
recommend_model = ScienceConcierge(stemming=True, ngram_range=(1,2),
                                   weighting='tfidf', norm=None,
                                   n_components=500,
                                   verbose=True)
start_time = time.time()
recommend_model.fit(docs) # input list of documents or abstracts
end_time = time.time()  # Kết thúc đo thời gian
print(f"Thời gian thực hiện: {end_time - start_time:.6f} giây")

preprocess 2755 documents with 4 workers
apply tfidf weighting to documents
perform Latent Semantic Analysis with 500 components

Thời gian thực hiện: 38.878966 giây

In [34]:
train,test

(           user_id  course_id  enroll_time
 5981157  U_1000129   C_735210   1599328511
 5981165  U_1000129   C_799796   1599328642
 5992099  U_1000129  C_1925903   1599403037
 5992155  U_1000129  C_1992970   1599403537
 6568928  U_1000129   C_680884   1602844869
 ...            ...        ...          ...
 1132042    U_99996   C_922850   1578691240
 1132057    U_99996   C_936990   1578691372
 1132072    U_99996   C_697407   1578691681
 1132142    U_99996   C_696679   1578692110
 1132168    U_99996   C_943250   1578692262

 [6902037 rows x 3 columns],
           user_id       target   enroll_time
 0       U_1000129  [C_1824931]  [1606767244]
 1       U_1000342   [C_696927]  [1583449823]
 2        U_100066   [C_682259]  [1601415328]
 3        U_100089  [C_1214863]  [1582738444]
 4        U_100090  [C_1755921]  [1600725730]
 ...           ...          ...           ...
 363823   U_999500   [C_680931]  [1586572793]
 363824   U_999821  [C_1774965]  [1588442049]
 363825   U_999845   [C_682759]  [1573404727]
 363826   U_999856   [C_948468]  [1583083695]
 363827    U_99996   [C_948432]  [1578692384]

 [363828 rows x 3 columns])

In [35]:
from joblib import dump, load

# Lưu model
dump(recommend_model, "ScienceConcierge.joblib")

# Load lại model
recommend_model = load("ScienceConcierge.joblib")

In [36]:
def recommend_courses(model, user_course , num_recommendations=None):
    recommendations = {}

    # Dự đoán cho tất cả người dùng trong test_user với thanh tiến trình
    for user_id in tqdm(user_course['user_id'].unique(), desc="Khuyến nghị cho người dùng", unit="user"):
        # Lấy danh sách khóa học mà người dùng đã thích
        like_list = user_course.loc[user_course['user_id'] == user_id, 'item'].iloc[0]
        like_list = like_list[-2:] if len(like_list) >= 2 else like_list
        # Dự đoán cho tất cả các khóa học của người dùng (tắt chi tiết trong dự đoán)
        index = recommend_model.recommend(likes=like_list, dislikes=[]) # input list of like/dislike index (here we like title[10000])
        # Lấy top k khóa học dựa trên dự đoán
        if num_recommendations is None:
            recommended_courses = [titles[i] for i in index]
        else:
            recommended_courses = [titles[i] for i in index[:num_recommendations]]
        # Lưu các khóa học được khuyến nghị
        recommendations[user_id] = recommended_courses

    return recommendations

In [37]:
import numpy as np

# Precision@5
def precision_at_k(y_true, recommendations, k=5):
    precision_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = sum(1 for course in top_k_pred if course in true_courses)
        precision_scores.append(relevant / k)
    return np.mean(precision_scores) if precision_scores else 0.0

# Recall@5
def recall_at_k(y_true, recommendations, k=5):
    recall_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = sum(1 for course in top_k_pred if course in true_courses)
        recall_scores.append(relevant / len(true_courses))
    return np.mean(recall_scores) if recall_scores else 0.0

# Hit Rate@5
def hit_rate_at_k(y_true, recommendations, k=5):
    hit_rate_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = any(course in true_courses for course in top_k_pred)
        hit_rate_scores.append(int(relevant))
    return np.mean(hit_rate_scores) if hit_rate_scores else 0.0

# NDCG@5
def ndcg_at_k(y_true, recommendations, k=5):
    dcg_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        dcg_score = sum(1 / np.log2(i + 2) for i, course in enumerate(top_k_pred) if course in true_courses)
        idcg_score = sum(1 / np.log2(i + 2) for i in range(min(k, len(true_courses))))
        dcg_scores.append(dcg_score / idcg_score if idcg_score > 0 else 0.0)
    return np.mean(dcg_scores) if dcg_scores else 0.0

# MAP@5
def map_at_k(y_true, recommendations, k=5):
    ap_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = [1 if course in true_courses else 0 for course in top_k_pred]
        if sum(relevant) == 0:
            ap_scores.append(0.0)
            continue
        precision_at_i = []
        for i in range(min(k, len(top_k_pred))):
            if relevant[i]:
                precision_at_i.append(sum(relevant[:i+1]) / (i+1))
        ap = sum(precision_at_i) / min(len(true_courses), k)
        ap_scores.append(ap)
    return np.mean(ap_scores) if ap_scores else 0.0

# F1 Score@5
def f1_at_k(y_true, recommendations, k=5):
    f1_scores = []
    for user_id, recommended_courses in recommendations.items():
        true_courses = y_true.get(user_id, [])
        if not true_courses:
            continue
        top_k_pred = recommended_courses[:k]
        relevant = sum(1 for course in top_k_pred if course in true_courses)
        precision = relevant / k
        recall = relevant / len(true_courses)
        if precision + recall > 0:
            f1 = 2 * (precision * recall) / (precision + recall)
        else:
            f1 = 0.0
        f1_scores.append(f1)
    return np.mean(f1_scores) if f1_scores else 0.0

# Hàm đánh giá mô hình
def evaluate_model(y_true, recommendations, k=5):
    """
    Đánh giá mô hình với Precision@5, Recall@5, Hit Rate@5, NDCG@5, MAP@5, F1 Score@5.

    Parameters:
    y_true: DataFrame hoặc dict chứa các khóa học thực tế trong tập TEST.
    recommendations: dict chứa các khóa học khuyến nghị.
    k: Số khóa học top cần xét (default là 5).

    Returns:
    dict: Các độ đo Precision@5, Recall@5, Hit Rate@5, NDCG@5, MAP@5, F1 Score@5.
    """
    # Chuyển y_true thành dict
    if hasattr(y_true, 'set_index'):
        y_true_dict = {}
        for user_id, target in y_true.set_index('user_id')['target'].items():
            y_true_dict[user_id] = [target] if not isinstance(target, (list, set)) else list(target)
        y_true = y_true_dict
    else:
        y_true = {k: [v] if not isinstance(v, (list, set)) else list(v) for k, v in y_true.items()}

    precision = precision_at_k(y_true, recommendations, k)
    recall = recall_at_k(y_true, recommendations, k)
    hit_rate = hit_rate_at_k(y_true, recommendations, k)
    ndcg = ndcg_at_k(y_true, recommendations, k)
    map_k = map_at_k(y_true, recommendations, k)
    f1 = f1_at_k(y_true, recommendations, k)

    return {
        f"Baseline": f"V{i+1}-CBF@{k}",
        f"Precision": round(precision,4),
        f"Recall": round(recall,4),
        f"HitRate": round(hit_rate,4),
        f"NDCG": round(ndcg,4),
        f"MAP": round(map_k,4),
        f"F1-score": round(f1,4)
    }

In [38]:
df_sampled.set_index("user_id")["target"]

user_id
U_100090      [C_1755921]
U_1002476      [C_682463]
U_100281       [C_948078]
U_10033817     [C_677049]
U_10033948    [C_1822804]
                 ...
U_99567        [C_696911]
U_9968019      [C_677097]
U_9969645      [C_677010]
U_99746        [C_735143]
U_997506       [C_680747]
Name: target, Length: 23943, dtype: object

In [39]:
df_sampled

,user_id,item,target
4,U_100090,"[1985, 951, 1861, 2626, 1062, 1050, 1197, 1009...",[C_1755921]
21,U_1002476,"[2279, 2150, 1936, 1767, 2280, 1464, 1741, 225...",[C_682463]
24,U_100281,"[2153, 1939, 2031, 1814, 1839, 1803, 2720, 22,...",[C_948078]
44,U_10033817,"[2106, 2103, 926, 1197, 2396, 2674, 2647, 426,...",[C_677049]
46,U_10033948,"[1548, 2688, 1377, 1152, 2648, 2694, 1386]",[C_1822804]
...,...,...,...
367009,U_99567,"[1231, 1471, 2143, 1814, 941, 2420, 2234, 1005...",[C_696911]
367059,U_9968019,"[2285, 1999, 2672, 2224, 511, 2231]",[C_677097]
367068,U_9969645,"[1825, 1692, 2171, 2483, 2252, 1981, 1978, 975...",[C_677010]
367086,U_99746,"[2103, 2387, 2491, 1156, 2264, 2583, 1052, 114...",[C_735143]
367088,U_997506,"[1781, 1978, 975, 1642, 2420, 2234, 2091, 2659...",[C_680747]

In [40]:
start_time = time.time()
results = recommend_courses(recommend_model,df_sampled)
end_time = time.time()  # Kết thúc đo thời gian

print(f"Thời gian thực hiện: {end_time - start_time:.6f} giây")

Khuyến nghị cho người dùng: 100%|██████████| 23943/23943 [05:10<00:00, 77.22user/s]

Thời gian thực hiện: 310.100858 giây

In [41]:
df_sampled.describe()

         user_id                      item      target
count      23943                     23943       23943
unique     23943                     22941        2301
top     U_100090  [1831, 1774, 1814, 2075]  [C_681353]
freq           1                        55         316

In [42]:
def filter_recommendations_from_df(recommendations, train_user_df, test_user_df, all_items, num_neg=100):
    """
    recommendations: dict {user_id: [item1, item2, ..., itemN]}
    train_user_df: DataFrame with columns ['user_id', 'course_id']
    test_user_df: DataFrame with columns ['user_id', 'target'] — 1 positive item per user
    all_items: list or set of all item ids
    """
    assert 'user_id' in train_user_df.columns and 'course_id' in train_user_df.columns
    assert 'user_id' in test_user_df.columns and 'target' in test_user_df.columns

    train_dict = train_user_df.groupby('user_id')['course_id'].apply(set).to_dict()
    test_dict = test_user_df.groupby('user_id')['target'].first().to_dict()

    final_result = {}

    for user_id, rec_items in recommendations.items():
        pos_item = test_dict.get(user_id)
        if pos_item is None:
            continue

        # Ensure pos_item is a scalar
        if isinstance(pos_item, list):
            pos_item = pos_item[0]

        train_items = train_dict.get(user_id, set())
        test_items = {pos_item}
        unavailable_items = train_items.union(test_items)

        candidate_items = list(set(all_items) - unavailable_items)
        if len(candidate_items) < num_neg:
            continue

        sampled_neg_items = set(random.sample(candidate_items, num_neg))
        allowed_items = sampled_neg_items.union({pos_item})

        filtered_items = [item for item in rec_items if item in allowed_items]

        if pos_item in filtered_items and len(filtered_items) >= (num_neg + 1):
            final_result[user_id] = filtered_items

    return final_result

In [43]:
all_item=results["U_100090"]

In [44]:
fn_results = filter_recommendations_from_df(results, train ,test,all_item)

In [45]:
eval_5 = evaluate_model(df_sampled[["user_id","target"]], fn_results,5)
eval_10 = evaluate_model(df_sampled[["user_id","target"]], fn_results,10)

In [46]:
{k: [eval_5[k], eval_10[k]] for k in eval_5}

{'Baseline': ['V2-CBF@5', 'V2-CBF@10'],
 'Precision': [0.0483, 0.0309],
 'Recall': [0.2417, 0.3091],
 'HitRate': [0.2417, 0.3091],
 'NDCG': [0.188, 0.2097],
 'MAP': [0.1702, 0.1791],
 'F1-score': [0.0806, 0.0562]}

In [47]:
eval_5 = evaluate_model(df_sampled[["user_id","target"]], results,5)
eval_10 = evaluate_model(df_sampled[["user_id","target"]], results,10)

In [48]:
{k: [eval_5[k], eval_10[k]] for k in eval_5}

{'Baseline': ['V2-CBF@5', 'V2-CBF@10'],
 'Precision': [0.0113, 0.0085],
 'Recall': [0.0564, 0.0852],
 'HitRate': [0.0564, 0.0852],
 'NDCG': [0.0303, 0.0395],
 'MAP': [0.0217, 0.0255],
 'F1-score': [0.0188, 0.0155]}