In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/random-user/sample_user.csv
/kaggle/input/random-user/__results__.html
/kaggle/input/random-user/__notebook__.ipynb
/kaggle/input/random-user/__output__.json
/kaggle/input/random-user/custom.css
/kaggle/input/splitdata/test.h5
/kaggle/input/splitdata/__results__.html
/kaggle/input/splitdata/train.h5
/kaggle/input/splitdata/__notebook__.ipynb
/kaggle/input/splitdata/__output__.json
/kaggle/input/splitdata/custom.css

In [2]:
# Thiết lập để hiển thị tối đa số cột (None có nghĩa là không giới hạn)
pd.set_option('display.max_columns', None)

# Thiết lập để hiển thị toàn bộ chiều rộng cột (tùy chọn)
pd.set_option('display.width', None)

# Đọc file

In [3]:
df = pd.read_hdf("/kaggle/input/splitdata/train.h5",key='df')
test = pd.read_hdf("/kaggle/input/splitdata/test.h5", key="df")

## Thay bằng giá trị đặc biệt

In [4]:
new_df=df.copy()

In [5]:
# Chuẩn hóa giá trị về string và xử lý điều kiện
new_df['course_prerequisites'] = df['course_prerequisites'].astype(str).apply(
    lambda x: "no prerequisite" if x.strip() == "" or x.strip().lower().startswith("no") else x
)
test['course_prerequisites'] = test['course_prerequisites'].astype(str).apply(
    lambda x: "no prerequisite" if x.strip() == "" or x.strip().lower().startswith("no") else x
)

In [6]:
# Danh sách các cột cần xử lý
list_columns = [
    'school_about',
    'school_motto',
    'teacher_about',
    'teacher_job_title',
    'teacher_org_name'
]

# Hàm xử lý danh sách, thay giá trị khuyết bằng "unknown"
def fill_missing_in_list(lst):
    if isinstance(lst, list):
        return ["unknown" if pd.isna(item) else item for item in lst]
    return lst  # Giữ nguyên nếu không phải list

# Áp dụng cho từng cột trong danh sách
for col in list_columns:
    new_df[col] = new_df[col].apply(fill_missing_in_list)
    test[col] = test[col].apply(fill_missing_in_list)

In [7]:
# Thay các phần tử khuyết trong list bằng "unknown"
def fill_missing_in_list(lst):
    if isinstance(lst, list):
        return ["unknown" if pd.isna(x) else x for x in lst]
    return lst

# Áp dụng cho cột 'teacher_name'
new_df['teacher_name'] = new_df['teacher_name'].apply(fill_missing_in_list)
test['teacher_name'] = test['teacher_name'].apply(fill_missing_in_list)

# Xóa các cột có tỉ lệ null > 70% sau đó xóa các dòng chứa giá trị null

## Xóa cột

In [8]:
def drop_cols(df, nguong=0.5):
    """
    Xử lý explode các cột kiểu list, tính tỷ lệ null và xóa cột nếu tỷ lệ null vượt ngưỡng.
    
    Args:
        df (pd.DataFrame): DataFrame đầu vào.
        nguong (float): Ngưỡng tỷ lệ null cho phép (từ 0 đến 1).
    
    Returns:
        pd.DataFrame: DataFrame sau xử lý.
    """
    df_copy = df.copy()

    # Tính tỷ lệ null
    ty_le_null = df_copy.isnull().mean()
    print("Tỷ lệ null trên từng cột:")
    print(ty_le_null)

    # Xác định và in ra các cột bị xóa
    cot_bi_xoa = ty_le_null[ty_le_null > nguong].index.tolist()
    print(f"Các cột bị xóa (tỷ lệ null > {nguong}): {cot_bi_xoa}")

    # Trả về DataFrame đã xóa cột
    cot_giu_lai = ty_le_null[ty_le_null <= nguong].index
    return df_copy[cot_giu_lai]

In [9]:
new_df = drop_cols(new_df)
test = drop_cols(test)

Tỷ lệ null trên từng cột:
user_id                    0.000000
course_id                  0.000000
enroll_time                0.000000
course_name                0.000000
course_prerequisites       0.000000
course_about               0.000000
course_field               0.731185
school_id                  0.003490
school_name                0.003490
school_about               0.003490
school_motto               0.003490
teacher_id                 0.001178
teacher_name               0.001178
teacher_about              0.001178
teacher_job_title          0.001178
teacher_org_name           0.001178
video_id                   0.376540
video_ccid                 0.376540
video_duration             0.376540
user_gender                0.000000
watch_id                   0.999487
total_watch_time           0.999487
actual_watch_time          0.999487
exercise_id                0.019345
exercise_num_problem       0.019345
doing_exercise_id          0.997219
doing_num_correct          0.997219
concept_id                 0.590242
concept_prerequisite       0.590242
concept_name               0.590242
concept_field              0.590242
course_total_comments      0.000000
user_course_num_comment    0.000000
user_course_num_replies    0.000000
dtype: float64
Các cột bị xóa (tỷ lệ null > 0.5): ['course_field', 'watch_id', 'total_watch_time', 'actual_watch_time', 'doing_exercise_id', 'doing_num_correct', 'concept_id', 'concept_prerequisite', 'concept_name', 'concept_field']
Tỷ lệ null trên từng cột:
user_id                    0.000000
course_id                  0.000000
enroll_time                0.000000
course_name                0.000000
course_prerequisites       0.000000
course_about               0.000000
course_field               0.731307
school_id                  0.006538
school_name                0.006538
school_about               0.006538
school_motto               0.006538
teacher_id                 0.004928
teacher_name               0.004928
teacher_about              0.004928
teacher_job_title          0.004928
teacher_org_name           0.004928
video_id                   0.428822
video_ccid                 0.428822
video_duration             0.428822
user_gender                0.000000
watch_id                   0.998502
total_watch_time           0.998502
actual_watch_time          0.998502
exercise_id                0.020027
exercise_num_problem       0.020027
doing_exercise_id          0.990621
doing_num_correct          0.990621
concept_id                 0.585171
concept_prerequisite       0.585171
concept_name               0.585171
concept_field              0.585171
course_total_comments      0.000000
user_course_num_comment    0.000000
user_course_num_replies    0.000000
dtype: float64
Các cột bị xóa (tỷ lệ null > 0.5): ['course_field', 'watch_id', 'total_watch_time', 'actual_watch_time', 'doing_exercise_id', 'doing_num_correct', 'concept_id', 'concept_prerequisite', 'concept_name', 'concept_field']

## Xóa dòng

In [10]:
course_cols = new_df.columns[new_df.columns.str.contains('^(?:course|school|teacher|video|exercise|concept)', regex=True)].tolist()
course_df=new_df[course_cols].groupby('course_id').first()
course_df['count_course'] = new_df.groupby('course_id').size()
course_df=course_df.reset_index()
display(course_df.shape,course_df.head())

(2766, 20)

,course_id,course_name,course_prerequisites,course_about,school_id,school_name,school_about,school_motto,teacher_id,teacher_name,teacher_about,teacher_job_title,teacher_org_name,video_id,video_ccid,video_duration,exercise_id,exercise_num_problem,course_total_comments,count_course
0,C_1017355,introduction to traditional chinese medicine e...,the main subjects are college students who hav...,traditional chinese medicine culture - the tre...,[S_33],[guangzhou university traditional chinese medi...,[guangzhou university chinese medicine first b...,[unknown],"[T_7970, T_7971, T_5826, T_7978, T_7979]","[su hong, liu shuaishuai, zhang xiaohu, liu, m...",[master english linguistics currently dean sch...,"[associate professor, lecturer, associate prof...",[guangzhou university traditional chinese medi...,None,None,None,"[Ex_1617861, Ex_1736572, Ex_1617873, Ex_161788...","[5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, ...",39624,1462
1,C_1017419,smart government talk,no prerequisite,this course combines specific cases of traffic...,[S_52],[central south university nationality],[southcentral minzu university referred scmzu ...,[unknown],"[T_7849, T_16199, T_16200, T_16201, T_16202, T...","[hu xinli, wu kaisong, peng qingjun, fang fuji...",[doctor management associate professor directo...,"[associate professor, professor, professor, as...","[central south university nationality, central...",None,None,None,"[Ex_1618263, Ex_1618257, Ex_1618248, Ex_161826...","[15, 15, 20, 15, 15, 15, 15, 16, 15]",609,116
2,C_1025064,principles of ideological and political education,no prerequisite,"hello, dear classmate! do you want to know how...",[S_13],[central south university],[central south university located changsha cit...,[integration knowledge action practice world],"[T_3915, T_3911, T_5426, T_5427, T_5429]","[liu wei, liu yongwei, lin jie, guo pengfei, c...",[liu wei male born hengnan county hunan provin...,"[associate professor, lecturer, lecturer, lect...","[central south university, central south unive...","[V_1622637, V_1622640, V_1622622, V_1622571, V...","[0B63D5E3D4D034E89C33DC5901307461, 0B6DEBC0F80...","[466.575, 402.325, 476.65, 1025.9, 755.075, 42...","[Ex_1622651, Ex_1622617, Ex_1622586, Ex_162263...","[10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 1...",696,1252
3,C_1025076,advanced roller skating tutorial,no prerequisite,the true meaning of experiencing roller skatin...,[S_72],[northeastern university],[northeastern university northeastern universi...,[unknown],[T_5394],[li zhongshan],[fulltime teacher roller skating program north...,[lecturer],[northeastern university],None,None,None,"[Ex_1622870, Ex_1622876, Ex_1622875, Ex_1622889]","[1, 1, 15, 1]",2,150
4,C_1025079,scientific fitness method-silk-winding fitness...,no prerequisite,silk wrapping skills are the chinese solution ...,[S_97],[beijing sport university],[beijing sport university referred beijing spo...,[unknown],[T_7939],[wu dong],[professor phd education phd supervisor famous...,[professor],[beijing sport university],"[V_1623000, V_1622990, V_1622999, V_1623003, V...","[0805D199A89E1D799C33DC5901307461, 1026CDC4B72...","[671.97, 925.17, 748.11, 644.25, 543.93, 546.3...","[Ex_1623011, Ex_1622993, Ex_1623006, Ex_162302...","[5, 5, 5, 5, 5]",125,631

In [11]:
import pandas as pd

def is_effectively_null(x):
    if x is None or (isinstance(x, float) and pd.isna(x)):
        return True
    if isinstance(x, list):
        return any(pd.isna(i) for i in x)
    return False

def compute_null_stats(df):
    cols = df.columns
    isnull_rate = df.isnull().mean()

    effectively_null_rate = {}
    for col in cols:
        # Nếu kiểu dữ liệu của cột là list
        non_null_values = df[col].dropna()
        if not non_null_values.empty and isinstance(non_null_values.iloc[0], list):
            effectively_null_rate[col] = df[col].dropna().apply(is_effectively_null).mean()
        else:
            effectively_null_rate[col] = 0.0

    null_df = pd.DataFrame({
        'column': cols,
        'isnull_rate': [round(isnull_rate[col], 6) for col in cols],
        'effectively_null_rate': [round(effectively_null_rate[col], 6) for col in cols]
    })
    return null_df

null_stats = compute_null_stats(course_df)
display(null_stats)

                   column  isnull_rate  effectively_null_rate
0               course_id     0.000000                    0.0
1             course_name     0.000000                    0.0
2    course_prerequisites     0.000000                    0.0
3            course_about     0.000000                    0.0
4               school_id     0.014461                    0.0
5             school_name     0.014461                    0.0
6            school_about     0.014461                    0.0
7            school_motto     0.014461                    0.0
8              teacher_id     0.005785                    0.0
9            teacher_name     0.005785                    0.0
10          teacher_about     0.005785                    0.0
11      teacher_job_title     0.005785                    0.0
12       teacher_org_name     0.005785                    0.0
13               video_id     0.532538                    0.0
14             video_ccid     0.532538                    0.0
15         video_duration     0.532538                    0.0
16            exercise_id     0.022054                    0.0
17   exercise_num_problem     0.022054                    0.0
18  course_total_comments     0.000000                    0.0
19           count_course     0.000000                    0.0

In [12]:
new_df.shape

(6917397, 24)

In [13]:
new_df = new_df[new_df.isnull().sum(axis=1) <= int(0.25*new_df.shape[1]) ]

In [14]:
null_stats = compute_null_stats(course_df)
display(null_stats)

                   column  isnull_rate  effectively_null_rate
0               course_id     0.000000                    0.0
1             course_name     0.000000                    0.0
2    course_prerequisites     0.000000                    0.0
3            course_about     0.000000                    0.0
4               school_id     0.014461                    0.0
5             school_name     0.014461                    0.0
6            school_about     0.014461                    0.0
7            school_motto     0.014461                    0.0
8              teacher_id     0.005785                    0.0
9            teacher_name     0.005785                    0.0
10          teacher_about     0.005785                    0.0
11      teacher_job_title     0.005785                    0.0
12       teacher_org_name     0.005785                    0.0
13               video_id     0.532538                    0.0
14             video_ccid     0.532538                    0.0
15         video_duration     0.532538                    0.0
16            exercise_id     0.022054                    0.0
17   exercise_num_problem     0.022054                    0.0
18  course_total_comments     0.000000                    0.0
19           count_course     0.000000                    0.0

In [15]:
new_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 6900189 entries, 0 to 6917396
Data columns (total 24 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   user_id                  6900189 non-null  object
 1   course_id                6900189 non-null  object
 2   enroll_time              6900189 non-null  int64
 3   course_name              6900189 non-null  object
 4   course_prerequisites     6900189 non-null  object
 5   course_about             6900189 non-null  object
 6   school_id                6886457 non-null  object
 7   school_name              6886457 non-null  object
 8   school_about             6886457 non-null  object
 9   school_motto             6886457 non-null  object
 10  teacher_id               6899965 non-null  object
 11  teacher_name             6899965 non-null  object
 12  teacher_about            6899965 non-null  object
 13  teacher_job_title        6899965 non-null  object
 14  teacher_org_name         6899965 non-null  object
 15  video_id                 4312250 non-null  object
 16  video_ccid               4312250 non-null  object
 17  video_duration           4312250 non-null  object
 18  user_gender              6900189 non-null  int64
 19  exercise_id              6766848 non-null  object
 20  exercise_num_problem     6766848 non-null  object
 21  course_total_comments    6900189 non-null  int64
 22  user_course_num_comment  6900189 non-null  int64
 23  user_course_num_replies  6900189 non-null  int64
dtypes: int64(5), object(19)
memory usage: 1.3+ GB

In [16]:
from tqdm import tqdm

# Khởi động tqdm cho pandas
tqdm.pandas()

# Bước 1: Lấy danh sách theo 4 cột
cols = ['course_id', 'video_id', 'video_ccid', 'video_duration']
df_cleaned = new_df[cols].copy()

# Bước 2: Loại bỏ dòng trùng course_id (giữ dòng đầu tiên)
df_cleaned = df_cleaned.drop_duplicates(subset=['course_id'])

# Bước 3: Đảm bảo các cột là list (có tiến trình)
for col in ['video_id', 'video_ccid', 'video_duration']:
    df_cleaned[col] = df_cleaned[col].progress_apply(lambda x: x if isinstance(x, list) else [])

# Bước 4: Bung từng danh sách ra thành dòng riêng
df_exploded = df_cleaned.explode(['video_id', 'video_ccid', 'video_duration'])

# Bước 5: Loại bỏ các dòng có giá trị thiếu (có tiến trình)
df_exploded = df_exploded.progress_apply(
    lambda row: row if pd.notna(row['video_id']) and pd.notna(row['video_ccid']) and pd.notna(row['video_duration']) else None,
    axis=1
).dropna()

# Bước 6: Gom lại theo course_id và gom các giá trị về list (có tiến trình)
df_grouped = df_exploded.groupby('course_id').progress_apply(
    lambda g: pd.Series({
        'video_id': list(g['video_id']),
        'video_ccid': list(g['video_ccid']),
        'video_duration': list(g['video_duration'])
    })
).reset_index()

# Bước 7: Gộp lại vào new_df
new_df = new_df.drop(columns=['video_id', 'video_ccid', 'video_duration'], errors='ignore')
new_df = new_df.merge(df_grouped, on='course_id', how='left')

100%|██████████| 2727/2727 [00:00<00:00, 657651.05it/s]
100%|██████████| 2727/2727 [00:00<00:00, 643263.43it/s]
100%|██████████| 2727/2727 [00:00<00:00, 617195.50it/s]
100%|██████████| 74031/74031 [00:02<00:00, 27900.72it/s]
100%|██████████| 1292/1292 [00:00<00:00, 3223.27it/s]

In [17]:
# # Tập hợp tất cả các phần tử từ các danh sách trong cột
# all_items = new_df['video_duration'].dropna().explode()

# # Lấy các giá trị duy nhất và in ra
# unique_items = all_items.dropna().unique()

# # In từng giá trị
# for item in unique_items:
#     print(item)

In [18]:
# # Bung toàn bộ phần tử trong các list thành từng dòng
# exploded_items = new_df['teacher_name'].explode()

# # Tổng số phần tử sau khi explode
# total_count = len(exploded_items)

# # Số phần tử bị thiếu
# null_count = exploded_items.isna().sum()

# # Tính tỷ lệ phần trăm
# null_percent = (null_count / total_count) * 100 if total_count > 0 else 0

# # In kết quả
# print(f"Tổng số phần tử: {total_count}")
# print(f"Số phần tử thiếu (NaN): {null_count}")
# print(f"Tỷ lệ thiếu: {null_percent:.2f}%")

## Thay bằng giá trị đặc biệt

In [19]:
# Chuẩn hóa giá trị về string và xử lý điều kiện
new_df['course_prerequisites'] = new_df['course_prerequisites'].astype(str).apply(
    lambda x: "no prerequisite" if x.strip() == "" or x.strip().lower().startswith("no") else x
)

In [20]:
# Danh sách các cột cần xử lý
list_columns = [
    'school_about',
    'school_motto',
    'teacher_about',
    'teacher_job_title',
    'teacher_org_name'
]

# Hàm xử lý danh sách, thay giá trị khuyết bằng "unknown"
def fill_missing_in_list(lst):
    if isinstance(lst, list):
        return ["unknown" if pd.isna(item) else item for item in lst]
    return lst  # Giữ nguyên nếu không phải list

# Áp dụng cho từng cột trong danh sách
for col in list_columns:
    new_df[col] = new_df[col].apply(fill_missing_in_list)

In [21]:
# Thay các phần tử khuyết trong list bằng "unknown"
def fill_missing_in_list(lst):
    if isinstance(lst, list):
        return ["unknown" if pd.isna(x) else x for x in lst]
    return lst

# Áp dụng cho cột 'teacher_name'
new_df['teacher_name'] = new_df['teacher_name'].apply(fill_missing_in_list)

In [22]:
new_df.head(10)

,user_id,course_id,enroll_time,course_name,course_prerequisites,course_about,school_id,school_name,school_about,school_motto,teacher_id,teacher_name,teacher_about,teacher_job_title,teacher_org_name,user_gender,exercise_id,exercise_num_problem,course_total_comments,user_course_num_comment,user_course_num_replies,video_id,video_ccid,video_duration
0,U_1000129,C_735210,1599328511,university physics-electromagnetism (teaching ...,calculus newtonian mechanics,"physics, explore the laws of nature, and pursu...",[S_148],[yunnan university],[yunnan university abbreviated yunnan universi...,[unknown],[T_4242],[hu jianqiao],[hu jianqiao associate professor bachelor degr...,[associate professor],[yunnan university],0,"[Ex_635488, Ex_635480, Ex_635544, Ex_635491, E...","[5, 4, 2, 4, 7, 5, 5, 1, 6, 2, 5, 2, 1, 7, 3, ...",461,0,0,"[V_635512, V_635472, V_635516, V_635495, V_635...","[196B00DFA5515EB09C33DC5901307461, 1974570A080...","[889.363, 578.897, 404.653, 686.529, 429.572, ..."
1,U_1000129,C_799796,1599328642,"university physics 1 (mechanics, thermal)",no prerequisite,university physics is a basic physics course f...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_164, T_165, T_166, T_167, T_168, T_169]","[yu, chen xinyi, zhang liuwan, wang shanying, ...",[yu professor doctoral supervisor engaged basi...,"[professor, professor, professor, associate pr...","[tsinghua university, tsinghua university, tsi...",0,"[Ex_822309, Ex_822340, Ex_822311, Ex_822327, E...","[4, 23, 7, 4, 5, 6, 10, 1, 8, 3, 5, 4, 4, 4, 1...",448,0,0,"[V_822227, V_822159, V_822282, V_822255, V_822...","[009035DB2BED87229C33DC5901307461, 015AC6C3159...","[237.67, 582.588, 405.612, 157.22, 392.304, 45..."
2,U_1000129,C_1925903,1599403037,mathematical analysis ii,mathematical analysis i,the mooc course in mathematical analysis ii ma...,[S_76],[beijing jiaotong university],[beijing jiaotong university national key univ...,[unknown],[T_12975],[song shichang],[since taught department mathematics school sc...,[associate professor],[beijing jiaotong university],0,"[Ex_6731684, Ex_6729452, Ex_6729437, Ex_672939...","[4, 1, 10, 5, 3, 7, 5, 1, 1, 7, 7, 7, 1, 6, 2,...",1,0,0,NaN,NaN,NaN
3,U_1000129,C_1992970,1599403537,mathematical analysis iii,no prerequisite,the mooc course of mathematical analysis iii c...,[S_76],[beijing jiaotong university],[beijing jiaotong university national key univ...,[unknown],[T_12975],[song shichang],[since taught department mathematics school sc...,[associate professor],[beijing jiaotong university],0,"[Ex_6882416, Ex_6882349, Ex_6882375, Ex_688239...","[8, 4, 6, 4, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 6, ...",4,0,0,NaN,NaN,NaN
4,U_1000129,C_680884,1602844869,complex function,no prerequisite,let students master the mathematical theoretic...,[S_31],[xian jiaotong university],[xian jiaotong university referred xian jiaoto...,[diligent study righteous inspiring perseveran...,"[T_1523, T_1524, T_1525]","[wu huizhuo, zhang hongying, yi yuan]",[present professor doctoral associate professo...,"[associate professor, professor, professor]","[xian jiaotong university, xian jiaotong unive...",0,"[Ex_136594, Ex_136559, Ex_136574, Ex_136545, E...","[13, 15, 14, 15, 14, 16]",42,0,0,NaN,NaN,NaN
5,U_1000342,C_883345,1580818833,data structure (part 1),no prerequisite,breeze plan 2021 [first term recruitment] is i...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],[T_805],[deng junhui],[deng junhui professor department computer sci...,[professor],[tsinghua university],0,"[Ex_1007852, Ex_1008098, Ex_1008198, Ex_100769...","[11, 2, 3, 1, 4, 2, 5, 1, 10, 2, 3, 10, 10, 3,...",1322,0,0,"[V_1007803, V_1008155, V_1008065, V_1008384, V...","[00CE59849A6B87B29C33DC5901307461, 00CE59849A6...","[173.09, 173.09, 312.0, 312.0, 333.86, 333.86,..."
6,U_1000342,C_696968,1580818924,life english reading and writing,no prerequisite,"use reading to promote writing, and use writin...",[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_49, T_48, T_254, T_255, T_256]","[yang fang, zhang wenxia, chen yongguo, lu zho...",[yang fang associate professor language teachi...,"[associate professor, professor, professor, pr...","[tsinghua university, tsinghua university, tsi...",0,"[Ex_485854, Ex_485849, Ex_485963, Ex_485943, E...","[9, 9, 5, 7, 5, 5, 5, 5, 7, 7, 8, 8, 6, 7, 5, ...",3182,0,0,"[V_485818, V_485887, V_485815, V_485840, V_485...","[003942C710C2ABDE9C33DC5901307461, 0345D73B6A9...","[566.58, 729.4, 405.8, 352.94, 788.04, 334.58,..."
7,U_1000342,C_696994,1580819295,life english listening and speaking,no prerequisite,do you want to use english in your life to com...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_48, T_49]","[zhang wenxia, yang fang]",[zhang wenxia professor doctoral supervisor de...,"[professor, associate professor]","[tsinghua university, tsinghua university]",0,"[Ex_492429, Ex_492493, Ex_492479, Ex_492405, E...","[5, 6, 9, 10, 5, 8, 10, 9, 7, 10, 5, 12, 5, 10...",72596,0,0,"[V_492396, V_492516, V_492454, V_492432, V_492...","[00688B2FB02D172C9C33DC5901307461, 0511F44E65C...","[352.65, 55.92, 494.5, 264.62, 492.48, 107.25,..."
8,U_1000342,C_697791,1582885642,basics of c++ language programming,no prerequisite,breeze plan 2021 [first term recruitment] is i...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_540, T_541, T_38]","[zheng li, li chao, xu mingxing]",[zheng li professor department computer scienc...,"[professor, associate researcher, associate pr...","[tsinghua university, tsinghua university, tsi...",0,"[Ex_557859, Ex_557809, Ex_557813, Ex_557816, E...","[3, 2, 2, 2, 1, 3, 4, 1, 2, 1, 1, 2, 3, 1, 6, ...",4356,0,0,"[V_557779, V_557894, V_557896, V_557929, V_557...","[06952EAE1BBE8C039C33DC5901307461, 0907BA66DFD...","[304.4, 435.68, 490.44, 138.04, 507.16, 667.28..."
9,U_1000342,C_948409,1582992155,big data governance and policy,no prerequisite,the national governance certification certific...,[S_1],[tsinghua university],[referred tsinghua short directly ministry edu...,[selfimprovement virtue carry thing],"[T_7696, T_7697, T_7698]","[meng qingguo, zhang nan, zheng lei]",[meng qingguo professor doctoral supervisor sc...,"[professor, associate professor, associate pro...","[tsinghua university, tsinghua university, fud...",0,"[Ex_1622079, Ex_1624049, Ex_1622312, Ex_162405...","[10, 20, 6, 30, 10, 10, 20]",1314,0,0,"[V_1483644, V_1483647, V_1483643, V_1483638, V...","[09C69E4BD0987A4F9C33DC5901307461, 0EB9A04995C...","[798.91, 1096.69, 981.08, 700.64, 735.94, 1207..."

In [23]:
list1=new_df.user_id.drop_duplicates().to_list()
uu=pd.read_csv('/kaggle/input/random-user/sample_user.csv')
list2 = uu.user_id.to_list()
common = set(list1) & set(list2)
len(common)

24088

In [24]:
result = list(set(list2) - set(list1))
print(result)

['U_7649089', 'U_1061752', 'U_29661', 'U_10626640', 'U_8435420', 'U_28669444', 'U_15999945', 'U_6522021', 'U_3264137', 'U_18405149', 'U_31767195', 'U_4369389', 'U_22149204', 'U_28936600', 'U_15157859', 'U_8307857', 'U_26383877', 'U_30583990', 'U_33497409', 'U_29061902', 'U_11530063', 'U_26340083', 'U_15365952', 'U_30987835', 'U_4487832', 'U_99772', 'U_28499331', 'U_17124396', 'U_30921564', 'U_10731184', 'U_30824466', 'U_15075390', 'U_30303669', 'U_15430355', 'U_13063097', 'U_29927552', 'U_31018003', 'U_15154223', 'U_30078892', 'U_12583973', 'U_15065128', 'U_29586732', 'U_3064280', 'U_31161864', 'U_14142297', 'U_15014624', 'U_687524', 'U_12664379', 'U_31462275', 'U_29777810', 'U_34710203', 'U_10236742', 'U_31098391', 'U_31415856', 'U_31476263', 'U_34170547', 'U_32852277', 'U_30542684', 'U_14170712', 'U_2461111', 'U_10954623', 'U_28770732', 'U_15268534', 'U_17894078', 'U_29072157', 'U_32068749', 'U_10950817', 'U_7014483', 'U_8171270', 'U_33459533', 'U_29405145', 'U_16087611', 'U_11700734', 'U_17072805', 'U_8242746', 'U_31035131', 'U_2043650', 'U_5658489', 'U_32558539', 'U_30895481', 'U_31159017', 'U_29681491', 'U_1074838', 'U_29557049', 'U_9826497', 'U_7395887', 'U_31933507', 'U_8986453', 'U_30903220', 'U_33119109', 'U_31433499', 'U_31067483', 'U_31013299', 'U_31465235', 'U_29911314', 'U_29147558', 'U_31072701', 'U_6386857', 'U_25714653', 'U_31047182', 'U_30703934', 'U_31131152', 'U_5211392', 'U_31741312', 'U_30602721', 'U_12642945', 'U_6004927', 'U_14805137', 'U_1547325', 'U_33151585', 'U_12328554', 'U_28391664', 'U_27874477', 'U_22272046', 'U_19307985', 'U_26972114', 'U_11377847', 'U_15305560', 'U_14239869', 'U_5356291', 'U_10714623', 'U_30979270', 'U_30978396', 'U_12255082', 'U_30677381', 'U_7551207', 'U_31068280', 'U_5921774', 'U_31336750', 'U_2284439', 'U_29840729', 'U_31681730', 'U_31762259', 'U_18245804', 'U_7512289', 'U_31158785', 'U_29111812', 'U_27707426', 'U_20780427', 'U_16036154', 'U_31106185', 'U_30956202', 'U_31521660', 'U_31251921', 'U_31933488', 'U_11050361', 'U_34068097', 'U_34037253', 'U_28100226', 'U_30245354', 'U_27707745', 'U_4931777', 'U_19773686', 'U_18360396', 'U_472102', 'U_31404583', 'U_19543314', 'U_34440083', 'U_30845800', 'U_27708812', 'U_32121407', 'U_33138312', 'U_32079775', 'U_14145273', 'U_896756', 'U_28344133', 'U_30272376', 'U_825399', 'U_32306713', 'U_29079627', 'U_15142767', 'U_31111157', 'U_13931900', 'U_12203004', 'U_19154584', 'U_14824204', 'U_2360290', 'U_30893894', 'U_28391695', 'U_33267730', 'U_19214372', 'U_10269167', 'U_8884442', 'U_5220334', 'U_14498142', 'U_3486674', 'U_16711450', 'U_17952945', 'U_29725723', 'U_13852081', 'U_14799124', 'U_29348949', 'U_33391796', 'U_13693367', 'U_30338017', 'U_30967786', 'U_31145813', 'U_28299997', 'U_31461741', 'U_30889319', 'U_19851269', 'U_15754717', 'U_32084257', 'U_29693800', 'U_11534157', 'U_10628741', 'U_24642425', 'U_28290264', 'U_33386652', 'U_14162224', 'U_4411423', 'U_31251954', 'U_30664430', 'U_28183306', 'U_7751177', 'U_15194652', 'U_15198669', 'U_33141187', 'U_31228696', 'U_19312310', 'U_15584009', 'U_30453357', 'U_28784440', 'U_33184928', 'U_2043867', 'U_31204460', 'U_27534109', 'U_3147725', 'U_4459289', 'U_30954069', 'U_30830476', 'U_32229954', 'U_26430458', 'U_32134724', 'U_5564482', 'U_30637579', 'U_29240375', 'U_30634099', 'U_16482241', 'U_31197922', 'U_27708738', 'U_31015748', 'U_30367578', 'U_28948923', 'U_16867115', 'U_31202011', 'U_32110674', 'U_3008630', 'U_26820827', 'U_28420688', 'U_30851514', 'U_31245657', 'U_33644009', 'U_4424250', 'U_30076183', 'U_16146844', 'U_16821903', 'U_817439', 'U_30016685', 'U_31769536', 'U_22741789', 'U_10523335', 'U_16834855', 'U_29911579', 'U_19970785', 'U_30935608', 'U_24004019', 'U_30480165', 'U_24190846', 'U_20486139', 'U_23189652', 'U_30719709', 'U_10183721', 'U_21365170', 'U_31767008', 'U_2819669', 'U_15308413', 'U_31164044', 'U_29419683', 'U_29280348', 'U_31134017', 'U_14384627', 'U_31129799', 'U_1085788', 'U_3486191', 'U_30394835', 'U_16493279', 'U_25772642', 'U_10625782', 'U_30977699', 'U_33123924', 'U_10627363', 'U_28377071', 'U_18297393', 'U_29696565', 'U_31686181', 'U_14503300', 'U_29386421', 'U_29021656', 'U_28392069', 'U_15176302', 'U_33745961', 'U_10384686', 'U_10373432', 'U_28914270', 'U_4606589', 'U_33414498', 'U_10075060', 'U_32420654', 'U_31016173', 'U_30940784', 'U_28391913', 'U_6530607', 'U_4661016', 'U_12592009', 'U_1675278', 'U_28916549', 'U_30716394', 'U_30096354', 'U_31395047', 'U_28948731', 'U_1204642', 'U_29792791', 'U_21042849', 'U_32593683', 'U_31204583', 'U_11206269', 'U_22797077', 'U_30971728', 'U_12931486', 'U_29276856', 'U_18550701', 'U_33968294', 'U_28350689', 'U_29417844', 'U_6283564', 'U_31111287', 'U_27707559', 'U_28742399', 'U_31057752', 'U_19856336', 'U_10249738', 'U_31653066', 'U_33941713', 'U_30277817', 'U_15501127', 'U_10627379', 'U_13788379', 'U_27257462', 'U_14453964', 'U_11662162', 'U_15859354', 'U_31137299', 'U_15352210', 'U_10682629', 'U_14446469', 'U_14452075', 'U_30949704', 'U_5015664', 'U_32136495', 'U_30288255', 'U_31067021', 'U_27245625', 'U_29786725', 'U_31150225', 'U_1908482', 'U_10941492', 'U_6167877', 'U_31169765', 'U_4582501', 'U_23347653', 'U_29315105', 'U_29861297', 'U_30313881', 'U_29900621', 'U_4463167', 'U_29190688', 'U_15750161', 'U_10950097', 'U_33862818', 'U_7865367', 'U_34122933', 'U_4610730', 'U_34079925', 'U_31280229', 'U_11424160', 'U_30939588', 'U_31254820', 'U_30269884', 'U_17289766', 'U_33118520', 'U_31933679', 'U_29436366', 'U_1669090', 'U_31397361', 'U_11181644', 'U_4398651', 'U_29947419', 'U_10453896', 'U_31016228', 'U_2010950', 'U_31401095', 'U_30996599', 'U_29805245', 'U_20273427', 'U_33822844', 'U_28391890', 'U_4018821', 'U_30419486', 'U_5276786', 'U_31745531', 'U_12856027', 'U_33779692', 'U_10375956', 'U_29790398', 'U_14484418', 'U_31112854', 'U_20225840', 'U_31068246', 'U_31050384', 'U_12735730', 'U_31554518', 'U_28354316', 'U_31401271', 'U_16193984', 'U_33496824', 'U_29747725', 'U_31161740', 'U_30796277', 'U_10068981', 'U_29778288', 'U_16088500', 'U_32060559', 'U_8236198', 'U_33285155', 'U_937726', 'U_13320963', 'U_15498517', 'U_30996393', 'U_15562280', 'U_19852100', 'U_4931593', 'U_34021058', 'U_11615483', 'U_30615773', 'U_28179197', 'U_27708316', 'U_30438153', 'U_10236760', 'U_18684394', 'U_30621817', 'U_29399258', 'U_18240988', 'U_26383581', 'U_33763418', 'U_31064122', 'U_32687824', 'U_646501', 'U_24677850', 'U_6437376', 'U_19811109', 'U_10785669', 'U_25246641', 'U_33958662', 'U_11846928', 'U_28377076', 'U_31688081', 'U_27967305', 'U_27518694', 'U_4533386', 'U_30966579', 'U_31192484', 'U_102492', 'U_17467140', 'U_31503859', 'U_31156562', 'U_12621351', 'U_2407750', 'U_25884618', 'U_4385667', 'U_30837782', 'U_31771485', 'U_30966260', 'U_11596398', 'U_24598672', 'U_10855381', 'U_31143784', 'U_28637277', 'U_18608415', 'U_30363891', 'U_15386470', 'U_28094919', 'U_30659238']

In [25]:
len(list2)

24581

In [26]:
list3= test.user_id.drop_duplicates().to_list()

common = set(list3) & set(list2)
len(common)

24090

In [27]:
test = test[~test['user_id'].isin(result)]

In [28]:
df_merged = pd.concat([new_df, test], ignore_index=True)
df_merged.to_hdf("data_ver2.h5",key="df")

/tmp/ipykernel_13/2625990580.py:2: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['user_id', 'course_id', 'course_name', 'course_prerequisites',
       'course_about', 'school_id', 'school_name', 'school_about',
       'school_motto', 'teacher_id', 'teacher_name', 'teacher_about',
       'teacher_job_title', 'teacher_org_name', 'exercise_id',
       'exercise_num_problem', 'video_id', 'video_ccid', 'video_duration'],
      dtype='object')]

  df_merged.to_hdf("data_ver2.h5",key="df")

In [29]:
# os.makedirs("data_ver2", exist_ok=True)
# %cd data_ver2
# new_df.to_hdf("train.h5",key="df")
# test.to_hdf("test.h5",key="df")